.header__search .ui-autocomplete {
  position: absolute !important;
  top: 45px !important;
  box-sizing: border-box;
  width: 770px !important;
  background: $white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  z-index: 3;

  @media (max-width: $max-lg) {
    width: 650px !important;
  }

  &,
  * {
    outline: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 8px;
    width: 14px;
    height: 14px;
    background: $white;
    transform: rotate(45deg);
  }

  .ui-menu-item {
    border-bottom: 0.5px solid #304FFE;

    &:nth-child(3) {
      border-bottom: 0;
    }

    .ui-menu-item-wrapper {
      display: flex;
      box-sizing: border-box;
      padding: 15px 30px;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: inherit;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center center;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      }

      .autocomplete-item-name {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        width: 333px;
        min-height: 100px;
        height: 100%;

        strong {
          font-weight: bold;
          margin-top: 30px;
        }
      }

      .autocomplete-item-price {
        font-weight: bold;
        font-size: 1rem;
        margin-left: 55px;
      }
    }

    .desktop-autocomplete-submit-button {
      background: transparent;
      border: none;
      color: $blue;
      font-size: 1rem;
      border-bottom: 1px dashed $blue;
      padding: 0 0 3px;
      margin-left: 30px;
      margin-top: 30px;
    }
  }
}