.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;

  &__breadcrumb,
  &__link {
    text-decoration: none;
    font-size: .75rem;
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }

  &__delimiter {
    width: .7rem;
    height: .7rem;
    background: url(../img/svg/breadcrumb-delimiter.svg) no-repeat;
    background-size: 100% 100%;
    margin: 1px 5px 0;
  }
}