.catalog-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 31%;
  z-index: 3;
  height: auto;

  body.index & {
    height: 100%;
  }

  @media (max-width: $max-md) {
    display: none !important;
  }

  body.menu-visible & {
    display: block;
  }

  &__list {
    width: 100%;
    background: #F7F7F7;
    border: 0.25px solid #BDBDBD;

    body.index & {
      height: 100%;
    }

    body:not(.index) & {
      //min-height: 660px;
    }

    & > li {

      &.selected {
        &>a {
          background: $blue;
          color: $white !important;
          font-weight: 600;

          &:after {
            background: url(../img/svg/menu-arrow-white.svg) no-repeat;
          }
        }
      }

      & > a {
        @extend %header-padding-left;
        padding-right: 35px;

        &:hover {
          background: $blue;
          color: $white !important;
          font-weight: 600;
        }
      }
    }

    a {
      position: relative;
      //overflow: visible;
      font-family: Montserrat;
      font-size: 1.125rem;
      text-indent: 0 !important;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 500;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background: linear-gradient(-90deg, #BDBDBD, #F7F7F7 80%);
      }

      @media (max-width: 1700px) {
        font-size: .8rem;
      }
    }
  }

  .issub {
    background: $blue;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    border: none;
    outline: 1px solid lighten($blue, 20);

    .hassub.selected>a {
      background: darken($blue, 15);
    }

    .hassub>a {

      &:after {
        background: url(../img/svg/menu-arrow-white.svg) no-repeat;
      }
    }

    a {
      color: $white !important;
      padding-left: 15px;

      &:hover {
        background: darken($blue, 15);
      }

      &:before {
        content: none !important;
      }
    }
  }


  .hassub > a {
    &:after {
      position: absolute;
      content: '';
      right: 15px;
      top: 50% !important;
      transform: translateY(-50%);
      border: none;
      width: 20px;
      height: 20px;
      background: url(../img/svg/lightbox-right.svg) no-repeat;
      background-size: 100% 100%;
    }

    &:hover {

      &:after {
        background: url(../img/svg/menu-arrow-white.svg) no-repeat;
      }
    }
  }
}