.footer {
  &:after {
    content: '';
    display: block;
    height: 70px;
    width: 100%;
    background: linear-gradient(#2238B3 45%, #273FCC 45%);
    margin-top: 80px;

    @media (max-width: $max-sm) {
      //margin-top: 30px;
      height: 40px;
    }
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-of-type {
    padding-top: 30px;

    @media (max-width: $max-xs) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 10px;
    }
  }
}

.footer__logo {
  width: 185px;
}

.footer__nav {
  margin-left: 110px;
  margin-right: 120px;

  @media (max-width: $max-lg) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: $max-sm) {
    display: none;
  }

  &-item {
    @extend %navigation-item;
  }
}

.footer__info {

  @media (max-width: $max-xs) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}

.footer__address {
  line-height: 1.975rem;
  font-size: 1rem;
  color: $black;
  max-width: 195px;
  width: 100%;
}

.footer__tax-info {
  margin-top: 5px;

  @media (min-width: $max-xs + 1px) {
    margin-top: 40px;
  }

  p {
    font-size: .625rem;
    line-height: 1.25rem;
  }
}

.footer__phones {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-right: 150px;

  @media (min-width: 1750px) {
    margin-right: 120px;
  }

  @media (max-width: 1499px) {
    margin-left: 60px;
  }

  @media (max-width: 1299px) {
    margin-right: 100px;
    margin-left: 100px;
  }

  @media (max-width: $max-lg) {
    margin-left: 0;
    margin-right: 0;
  }

  &-item {
    @extend %phones-item;
    margin-top: 5px;
    margin-bottom: 5px;

    @media (max-width: $max-sm) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.footer__search {
  align-self: flex-start;

  @media (max-width: $max-sm) {
    display: none;
  }

  input {
    float: left;
    background: $light-gray;
    border: 0.25px solid #BDBDBD;
    height: 60px;
    width: 280px;
    padding-left: 30px;
    font-size: 1rem;
    font-weight: bold;

    &::placeholder {
      color: $blue;
    }

    @media (max-width: $max-md) {
      width: 190px;
    }
  }

  button {
    position: relative;
    float: left;
    height: 62px;
    width: 62px;
    background: linear-gradient(311.67deg, #304FFE 0%, #6200EA 100%);
    border: none;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      background: url(../img/svg/loop-ic.svg) no-repeat;
      background-size: 100% 100%;
    }
  }
}

.footer__subscribe {
  background: linear-gradient(182.28deg, #304FFE 0%, #6200EA 100%);
  margin-bottom: 65px;

  @media (max-width: $max-sm) {
    margin-bottom: 35px;
  }

  &-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    @media (max-width: $max-sm) {
      flex-direction: column;
    }
  }

  &-label {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    color: $white;
    margin-right: 15px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 45%;
      transform: translateX(-50%);
      width: 65px;
      height: 32px;
      background: url(../img/svg/footer-mail.svg) no-repeat;
      background-size: 100% 100%;

      @media (min-width: $max-sm + 1px) {
        display: none;
      }
    }

    @media (min-width: 1700px) {
      margin-right: 45px;
    }

    @media (max-width: $max-sm) {
      margin-bottom: 15px;
      padding-top: 50px;
    }
  }

  &-input {
    height: 60px;
    border: 0.25px solid #BDBDBD;
    background: $white;
    outline: none;
    flex-grow: 1;
    margin: 0 15px;
    padding: 0 15px;
    font-size: .875rem;
    font-weight: 500;

    @media (max-width: $max-sm) {
      width: calc(100% - 30px);
      margin-bottom: 15px;
      height: 40px;
    }

    &::placeholder {
      color: $gray;
    }
  }

  &-button {
    width: 170px;
    height: 60px;
    margin-left: 15px;
    background: #AEEA00;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: $black;

    @media (max-width: $max-sm) {
      width: 100%;
      margin: 10px 0 0;
    }
  }
}

.footer__partners {
  @extend %border-background;
  padding: 85px 210px;

  @media (max-width: $max-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
  }

  .slick {
    &-slide {
      text-align: center;

      &>div {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @media (max-width: 1500px) {
    padding: 55px 70px;
  }

  &-item {
    font-weight: 800;
    color: $gray;
    font-size: 1.625rem;

    @media (max-width: 1500px) {
      font-size: 1.4rem;
    }

    @media (max-width: $max-sm) {
      padding: 8px 0;
    }
  }
}

.footer__mail_v-desktop {
  @extend %mail-link;

  @media (max-width: $max-xs) {
    display: none;
  }
}
