.header__mobile-search-autocomplete {
  position: fixed;
  left: -100%;
  top: 50px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  max-width: 320px;
  background: #FCFCFC;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  transition: left .3s ease .1s;

  body.autocomplete-shown & {
    left: 0;
  }

  @media (min-width: $max-md + 1px) {
    display: none;
  }

  input {
    font-size: 26px;
    font-weight: 600;
    line-height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 35px;
    background: $white;
    border: 0.25px solid #BDBDBD;

    &::placeholder {
      color: #808080;
      font-size: 18px;
      font-weight: normal;
      font-style: italic;
    }
  }

  button {
    position: absolute;
    top: 48px;
    right: 25px;
    width: 28px;
    height: 28px;
    background: url(../img/svg/autocomplete-search.svg) no-repeat;
    background-size: 100% 100%;
    border: none;
  }

  .ui-autocomplete {
    height: 100%;
    overflow: scroll;
    padding-top: 10px;
    padding-bottom: 105px;
    box-sizing: border-box;

    .ui-menu-item-wrapper {
      text-decoration: none;
      line-height: 1.5;
      font-weight: 500;
      color: $gray;
    }

    .ui-menu-item {
      padding: 10px 0;
    }
  }
}

.header__mobile-search-autocomplete-close {
  position: fixed;
  left: 340px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: url(../img/svg/filters-cross.svg) no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease 0s;

  body.autocomplete-shown & {
    opacity: 1;
    pointer-events: auto;
    transition-delay: .6s;
  }

  @media (min-width: $max-md + 1px) {
    display: none;
  }
}

body.autocomplete-shown main {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 3;
  }
}