.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 99;
  transition: top .3s ease;

  @media (max-width: $max-md) {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }

  &.nav-up {
    @media (min-width: $max-md + 1px) {
      top: -72px;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-of-type,
  .header__wrapper-left-side {
    @extend %header-padding-left;
  }

  &:first-of-type {
    background: #FAFBFF;
    border: 1px solid #E6E6E6;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;

    @media (max-width: $max-md) {
      display: none;
    }
  }
}

.header__logo {

  &_visible-tablet {
    display: none;

    @media (max-width: $max-md) {
      display: inline-block;
      margin-right: 15px;
    }
  }

  img {
    float: left;
    width: 165px;

    @media (max-width: $max-md) {
      width: 100px;
    }
  }
}

.header__nav-item {
  @extend %navigation-item;
}

.header__mail_v-desktop {
  @extend %mail-link;
}

.header__langs {
  display: flex;
  justify-content: space-between;
  width: 120px;

  @media (min-width: 1750px) {
    width: 160px;
  }

  &-item {
    font-weight: 500;
    font-size: .875rem;
    font-weight: 500;
    text-decoration: none;
    color: $gray;

    &:not(.active):hover {
      color: darken($gray, 15);
    }

    &.active {
      color: $blue;
      font-weight: bold;
    }
  }
}

.header__wrapper-left-side,
.header__wrapper-right-side {
  display: flex;
  height: 95px;
  align-items: center;

  @media (max-width: $max-md) {
    height: 50px;
  }
}

.header__wrapper-right-side {
  @media (min-width: $max-md + 1px) {
    flex-grow: 1;
  }
}

.header__wrapper-left-side {
  width: calc(51% - 200px);
  background: linear-gradient(184.19deg, #304FFE 0%, #6200EA 100%);
  padding-right: 35px;

  @media (max-width: 1599px) {
    width: calc(51% - 80px);
  }

  @media (max-width: $max-md) {
    background: $white;
    width: auto;
    flex-grow: 2;
    padding-right: 0;
  }
}

.header__catalog {
  height: 100%;

  body.index & {
    display: none;
  }

  body:not(.index) & {
    width: 290px;
  }

  @media (min-width: 1750px) {
    width: 300px;
  }

  @media (max-width: $max-md) {
    display: none;
  }
}

.header__catalog-button {
  position: relative;
  background: transparent;
  border: none;
  height: 100%;
  font-size: 1.625rem;
  color: $white;
  font-weight: 600;
  padding-left: 45px;
  outline: none;
  cursor: pointer;

  body.index & {
    display: none;
  }

  &>span:last-child {
    @media (max-width: 1340px) {
      display: none;
    }
  }

  @media(min-width: 1750px) {
    font-size: 1.625rem;
  }

  &-burger {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 17px;
    width: 35px;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: $white;

      &:first-of-type {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-of-type {
        bottom: 0;
      }
    }
  }
}

.header__search {
  position: relative;
  flex-grow: 1;

  @media (max-width: $max-md) {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../img/svg/loop-ic.svg) no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
  }

  input {
    width: calc(100% - 25px);
    border: none;
    border-bottom: 1px solid rgba(#F7F7F7, .4);
    background: transparent;
    font-size: 1.625rem;
    font-weight: 600;
    color: $white;
    outline: none;
    padding-right: 25px;

    &::placeholder {
      color: $white;
      padding-bottom: 5px;
      opacity: .7;
    }
  }
}

.header__phones {
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1320px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $max-md) {
    display: none;
  }

  &-item {
    @extend %phones-item;
  }
}

.header__user-links {
  display: flex;
  width: 145px;
  height: 100%;

  @media(min-width: 1750px) {
    width: 170px;
  }

  @media (max-width: $max-xs) {
    width: 120px;
  }

  &-item {
    position: relative;
    width: 50%;
    height: 100%;

    &_login {
      background: linear-gradient(27.84deg, #304FFE 0%, #6200EA 100%);

      &:hover {
        filter: brightness(.97) contrast(1.1);
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background: url(../img/svg/login-ic.svg) no-repeat;
        background-size: 100% 100%;

        @media (max-width: $max-md) {
          width: 20px;
          height: 20px;
        }
      }
    }

    &_cart {
      position: relative;
      background: #6200EA;

      &:hover {
        filter: brightness(.97) contrast(1.1);
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
        height: 32px;
        background: url(../img/svg/cart-ic.svg) no-repeat;
        background-size: 100% 100%;

        @media (max-width: $max-md) {
          width: 20px;
          height: 24px;
        }
      }

      &-counter {
        position: absolute;
        left: 55%;
        top: 20px;
        transform: translateX(-50%);
        background: #FF0000;
        color: $white;
        font-weight: bold;
        font-size: .65rem;
        padding: 3px 6px;
        border-radius: 50%;

        @media (max-width: $max-md) {
          top: 10px;
          padding: 3px 4px;
        }
      }
    }
  }
}

.header__toggler {
  display: none;
  position: absolute;
  left: 15px;
  background: transparent;
  border: none;
  width: 24px;
  height: 16px;
  margin-right: 15px;
  z-index: 4;
  transition: .6s ease .1s;
  outline: none;

  .header-menu-mobile-open & {
    left: calc(100% - 45px);
    transition-delay: .3s;

    span {
      &:first-child {
        opacity: 0;
      }

      &:nth-child(2) {
        transform: translateY(-50%) rotate(-45deg);
      }

      &:last-child {
        transform: translateY(-50%) rotate(45deg);
        bottom: 32%;
      }
    }
  }

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: $blue;
    transition: all .3s ease .1s;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      bottom: 0;
    }
  }

  @media (max-width: $max-md) {
    display: block;
  }
}

.header__mobile-search {
  width: 24px;
  height: 24px;
  background: url(../img/svg/loop-blue-ic.svg) no-repeat;
  background-size: 100% 100%;
  border: none;
  margin-left: auto;
  margin-right: 20px;
  outline: none;

  @media (min-width: $max-md + 1px) {
    display: none;
  }
}