.menu-mobile {
  display: flex;
  align-items: flex-start;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: $white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 60px;
  overflow: scroll;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s ease .1s;

  @media (max-width: $max-sm) {
    align-items: flex-start;
  }

  .header-menu-mobile-open & {
    opacity: 1;
    pointer-events: auto;
  }

  @media (min-width: $max-md + 1px) {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.menu-mobile__main {
  margin-top: auto;
}

.menu-mobile__main-item {
  margin-bottom: 45px;

  a {
    color: $black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.menu-mobile__catalog {
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
}

.menu-mobile__catalog-toggler {
  @extend %border-background;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 7px 0 7px 55px;
  line-height: 1;
  width: 100%;
  text-align: left;
  outline: none;

  &:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 18px;
    background: url(../img/svg/menu-ic.svg) no-repeat;
    background-size: 100% 100%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../img/svg/select-arrow.svg) no-repeat;
    background-size: 100% 100%;
    transition: transform .3s ease;

    .catalog-open & {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.menu-mobile__catalog-content {
  height: 100%;
  overflow: hidden;
  transition: max-height .3s ease .1s;
  padding: 0 15px;
}

.menu-mobile__catalog-content-item {
  border-bottom: 1px solid #F2F2F2;

  a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-decoration: none;
    font-weight: 500;
    color: $gray;
    outline: none;

    &:focus {
      background: #F7F7F7;
      font-weight: 800;
      color: $blue;
    }
  }
}

.menu-mobile__search {
  position: relative;
  margin-bottom: 40px;
  margin-left: -15px;
  margin-right: -15px;

  &:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
    background: url(../img/svg/loop-blue-ic.svg) no-repeat;
    background-size: 100% 100%;
  }
}

.menu-mobile__search-input {
  @extend %border-background;
  width: 100%;
  line-height: 48px;
  padding-left: 55px;
  padding-right: 70px;
  box-sizing: border-box;
  font-size: 1.125rem;

  &::placeholder {
    color: $gray;
    font-style: italic;
  }
}

.menu-mobile__search-button {
  position: absolute;
  background: transparent;
  border: none;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: $blue;
  font-weight: 600;
  font-style: italic;
}

.menu-mobile__single-link {
  display: block;
  width: 100%;
  line-height: 40px;
  background: linear-gradient(352.2deg, #304FFE 0%, #6200EA 100%);
  color: #F7F7F7;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  margin-bottom: 30px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-menu__contact-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin: 0 auto auto;
  padding-bottom: 55px;
}

.mobile-menu__contact-links-link {
  max-width: 150px;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: $gray;
  padding-top: 80px;

  &:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &.mail {
    &:before {
      background: url(../img/svg/mail-ic-mobile.svg) no-repeat;
      background-size: 100% 100%;
    }
  }

  &.phone {
    &:before {
      background: url(../img/svg/phone-ic-mobile.svg) no-repeat;
      background-size: 100% 100%;
    }
  }
}

.menu-mobile__top-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  background: $white;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
}

.menu-mobile__lang-menu-wrapper {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  background: $white;
  border: 1px solid $gray;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 2px 2px 4px;

  .menu-mobile__lang-menu.open & {
    display: block;
  }
}

.menu-mobile__lang-menu {
  position: relative;

  &.open {
    border-radius: 4px;
  }
}

.menu-mobile__lang-menu-item {

  &.active {
    position: relative;
    z-index: 2;
    font-weight: 800;
    color: $blue;
    padding-right: 30px;
    background: $white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 2px;
    padding-left: 4px;

    .menu-mobile__lang-menu.open & {
      border: 1px solid $gray;
      border-bottom: 0;

      &:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }


    &:after {
      content: '';
      position: absolute;
      right: 5px;
      top: 65%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: url(../img/svg/accordion-arrow.svg) no-repeat;
      background-size: 100% 100%;
    }
  }

  a {
    display: block;
    font-weight: 500;
    text-decoration: none;
    color: $gray;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}