.account {
  .profile-tabs__content {
    padding: 30px 0;

    @media screen and (min-width: $max-md){
      padding: 55px 0;
    }
  }
}

.profile-tabs__content-title {
  color: $blue;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 22px;
  padding-left: 15px;

  @media screen and (min-width: $max-sm){
    display: none;
  }
}
