.login {
  padding: 125px 30px 100px;
  max-width: 370px;

  @media screen and (min-width: $max-md){
    margin: 0 auto;
    padding: 150px 30px 200px;
  }
}

.password-recover {
  padding: 125px 30px 100px;
  max-width: 450px;

  @media screen and (min-width: $max-md){
    margin: 0 auto;
    padding: 140px 30px 200px;
  }

  &::before {
    content: url('../img/recover-pass-ic.svg');
  }
}

.password-recover__text {
  color: $gray-2;
  font-size: 1rem;
  margin-top: 30px;
  line-height: 1.8;
}
