.about {
  @extend %footer-margin-top;

  main {
    padding-bottom: 60px;
    padding-top: 10px;

    @media (max-width: $max-sm) {
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: 1.625rem;
    font-weight: 600;
    margin-bottom: 35px;
  }

  &__content {
    font-size: 1rem;
    line-height: 1.875rem;
    max-width: 770px;

    p {
      margin-top: 45px;
      margin-bottom: 15px;

      @media (max-width: $max-sm) {
        margin-top: 15px;
      }
    }

    strong {
      font-weight: 600;
    }

    a {
      color: $blue;
    }

    ul {
      padding-left: 30px;

      li {
        position: relative;
        max-width: 400px;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &:before {
          content: '';
          position: absolute;
          left: -25px;
          top: 11px;
          width: 8px;
          height: 8px;
          background: #6200EA;
          border-radius: 50%;
        }
      }
    }
  }

  &__download-block {
    margin-top: 25px;

    &-item {
      @extend %border-background;
      position: relative;
      display: inline-block;
      color: $gray-2;
      font-size: 4.25rem;
      font-weight: 800;
      text-decoration: none;
      padding-left: 20px;
      padding-right: 80px;
      line-height: 4.9rem;
      margin-right: 30px;
      transition: color .3s ease .2s;

      @media (max-width: $max-sm) {
        padding-left: 10px;
        padding-right: 40px;
        margin-right: 10px;

        &:before {
          right: 10px;
          width: 15px;
          height: 15px;
          top: 10px;
        }
      }

      &:hover {
        color: darken($gray-2, 15);
        transition-delay: .1s;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        width: 21px;
        height: 21px;
        background: url(../img/svg/download-block-ic.svg) no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}