.catalog {
  //@extend %footer-margin-top;

  .breadcrumbs {
    margin-top: 10px;
  }

  main {
    @media (min-width: $max-md + 1px) {
      display: flex;
    }
  }

  &.filters-shown main {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .8);
      z-index: 3;
    }
  }
}

.catalog__filters,
.catalog__content {
  box-sizing: border-box;
}