.contacts {
  main {
    display: flex;

    @media(max-width: $max-sm) {
      flex-direction: column;
    }
  }

  &__title {
    margin-top: 35px;
    margin-bottom: 0;

    @media (max-width: $max-sm) {
      margin-top: 15px;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 25px;

    @media (min-width: $max-sm + 1px) {
      margin-top: 75px;
    }
  }

  p {
    line-height: 2.1rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__left-side,
  &__right-side {
    flex-grow: 1;

    @media (min-width: $max-sm + 1px) {
      width: 50%;
      min-height: calc(100vh - 168px);
    }
  }

  &__right-side {
    @media (max-width: $max-sm) {
      display: none;
    }
  }

  &__left-side {
    display: flex;
    justify-content: center;

    @media (max-width: $max-sm) {
      margin-bottom: 30px;
    }
  }

  &__left-side-wrapper {
    width: 100%;
    max-width: 470px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: $max-sm + 1px) {
      padding-bottom: 50px;
    }

    @media (min-width: $max-xs + 1px) {
      width: calc(100% - 100px);
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__select-region {
    margin-bottom: 15px;

    @media (min-width: $max-sm + 1px) {
      margin-bottom: 50px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: $gray;
      width: 100%;
    }

    select {
      cursor: pointer;
      -webkit-appearance: none;
      width: 100%;
      border: 1px #E5E5E5 solid;
      border-radius: 0;
      background: transparent url(../img/svg/select-arrow.svg) no-repeat;
      background-size: 20px;
      background-position: 95% center;
      font-size: 1rem;
      color: $black;
      font-weight: bold;
      padding: 18px 0 18px 15px;
      outline: none;
    }
  }

  #map {
    @media (max-width: $max-sm) {
      height: 300px;
    }
  }
}

.contacts__region-tabs-tab {
  &:not(.active) {
    display: none;
  }
}

.contacts__map-link {
  position: relative;
  display: block;
  margin-top: 15px;
  width: 100%;
  max-width: 328px;
  line-height: 33px;
  font-size: 16px;
  font-weight: bold;
  background: rgba(#BDBDBD, .2);
  border-radius: 50px;
  color: $blue !important;
  padding-left: 70px;
  box-sizing: border-box;

  &:before {
    content: '';
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(../img/svg/map.svg) no-repeat;
    background-size: 100% 100%;
  }

  @media (min-width: $max-sm + 1px) {
    display: none;
  }
}