.error {
  main {
    background: url(../img/svg/gearwheel-bg.svg) no-repeat;
    background-size: contain;
    background-position: left center;

    @media (min-width: $max-md + 1px) {
      min-height: calc(100vh - 170px);
    }

    @media (max-width: $max-md) {
      padding: 30px 0;
    }

    @media (max-width: $max-xs) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .page-title {
    margin-top: 40px;
  }

  &__img {
    display: block;
    width: 95%;
    max-width: 620px;
    margin:110px 0 80px;

    @media (max-width: $max-xs) {
      margin: 60px 0;
    }
  }

  .btn {
    position: relative;
    z-index: 1;

    @media (min-width: $max-md + 1px) {
      min-width: 170px;
      background: transparent;
      text-indent: 52px;
      border-right: 30px solid $blue;
    }

    @media (max-width: $max-md) {
      width: 100%;
      background: #f2f2f2;
      border-radius: 50px;
      color: $blue;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      background: $blue;
      left: 20px;
      z-index: -1;

      @media (max-width: $max-md) {
        display: none;
      }
    }

    &:before {
      top: 0;
      transform: skew(-40deg, 0deg);
    }

    &:after {
      bottom: 0;
      transform: skew(40deg, 0deg);
    }
  }
}