.index {
  @extend %footer-margin-top;
}
.index__banner {
  position: relative;

  @media (min-width: $max-sm + 1px) {
    margin-bottom: 80px;
  }

  .catalog-menu {
    display: block;
    top: 0;
  }

  &-wrapper {
    @media(min-width: $max-md + 1px) {
      padding-left: 31%;
    }
  }

  &-slide {
    display: inline-flex !important;

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-grow: 1;
      min-height: 611px;
      padding: 30px;
      background: linear-gradient(210.81deg, #304FFE 0%, #6200EA 100%);
      color: $white;
      box-sizing: border-box;

      @media (max-width: $max-lg) {
        padding: 30px 20px;
      }

      @media (max-width: $max-md) and (min-width: $max-sm + 1px) {
        min-height: 500px;
      }

      @media (max-width: $max-sm) {
        position: absolute;
        background: transparent;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        min-height: auto;
        bottom: 15px;
        left: 0;
        padding: 0;
        width: 100%;
      }

      &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 130px;
        width: 127px;
        background: url(../img/svg/banner-bg-part.svg);
        background-size: 100% 100%;
        mix-blend-mode: color-burn;

        @media (max-width: $max-sm) {
          content: none;
        }
      }
    }

    &-wrapper-2 {
      @media (max-width: $max-sm) {
        display: flex;
        flex-direction: column;
        background: $white;
        color: $black;
        padding: 25px 15px;
        width: 180px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      }
    }

    &-type {
      font-weight: bold;
      margin-bottom: 8px;

      @media (min-width: $max-sm + 1px) {
        margin-bottom: 20px;
      }
    }

    &-model {
      font-size: 1.625rem;
      margin-bottom: 8px;

      @media (min-width: $max-sm + 1px) {
        margin-bottom: 20px;
      }

      @media (max-width: $max-sm) {
        font-size: .66rem;
      }
    }

    &-additional-info {
      font-size: .75rem;
      font-weight: 300;
      letter-spacing: .03rem;
      line-height: 1.1rem;
      margin-bottom: 0;

      strong {
        font-weight: 600;
      }

      @media (min-width: $max-sm + 1px) {
        margin-bottom: 35px;
      }

      @media (max-width: $max-sm) {
        font-size: .83rem;
        order: 1;
      }
    }

    &-price {
      font-size: 3rem;
      font-weight: 900;
      margin-bottom: 3px;

      @media (min-width: $max-sm + 1px) {
        margin-bottom: 35px;
      }

      @media (max-width: $max-sm) {
        font-size: 1.5rem;
        font-weight: 600;
        color: $blue;
      }
    }

    &-logo {
      width: 100%;
      max-width: 110px;
      margin-bottom: 50px;

      @media (max-width: $max-sm) {
        display: none !important;
      }
    }

    &-more {
      line-height: 60px;
      background: #304FFE url(../img/svg/arrow-more.svg) no-repeat;
      background-position: 85% center;
      color: $white;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      padding-left: 25px;
      padding-right: 65px;
      transition: box-shadow .3s ease .1s;

      @media (max-width: $max-sm) {
        margin-bottom: 15px;
      }

      @media (max-width: 360px) {
        padding-left: 15px;
        padding-right: 55px;
      }

      &:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      }
    }

    &-img {
      flex-grow: 1;
      background-size: cover;
      background-position: center center;

      @media (max-width: $max-md) and (min-width: $max-sm + 1px) {
        flex-grow: 4;
      }

      @media (max-width: $max-sm) {
        width: 100%;
        height: 50vh;
        min-height: 280px;
        margin-bottom: 30px;
      }
    }
  }

  .slick {
    &-arrow {
      position: absolute;
      bottom: 0;
      font-size: 0;
      z-index: 2;
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      cursor: pointer;
    }

    &-prev {
      left: 0;
      background: url(../img/svg/banner-slider-prev.svg) no-repeat;
      background-size: 100% 100%;
    }

    &-next {
      width: 40px;
      height: 40px;
      border: none;
      background: url(../img/svg/banner-slider-next.svg) no-repeat;
      background-size: 100% 100%;
      left: 41px;
    }
  }
}