.product {
  @extend %footer-margin-top;

  main {
    padding-top: 40px;

    @media (max-width: $max-sm) {
      padding-top: 50px;
    }
  }

  .container {
    position: relative;
  }

  &__title {
    font-weight: 600;
    font-size: 1.625rem;
    width: 100%;
    max-width: 90%;
    margin-bottom: 25px;
  }

  &__content-wrapper {
    display: flex;

    @media screen and (max-width: $max-sm) {
      flex-direction: column;
    }

  }

  &__gallery {
    @media (min-width: $max-sm + 1px) {

      display: flex;
      flex-wrap: wrap;
      max-width: 48%;
      flex-grow: 1;
      margin-right: 30px;

      &-item {
        display: block;
        width: 100%;
        height: 60px;
        max-width: 60px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
        object-position: center center;

        &:nth-child(n + 5) {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }

        &_first {
          max-width: 100%;
          margin: 0 0 20px 0;
          width: 480px;
          height: 480px;
        }
      }

      &-items-counter {
        line-height: 60px;
        color: $gray-2;
        font-size: 1rem;
        font-weight: bold;
      }
    }

    &-item_first {
      @media (max-width: $max-lg) and (min-width: $max-md + 1px){
        width: 465px !important;
        height: 465px !important;
      }

      @media (max-width: $max-md) and (min-width: $max-sm + 1px){
        width: 360px !important;
        height: 360px !important;
      }
    }

    &-items-counter {
      @media (max-width: $max-sm) {
        display: none;
      }
    }

    &.slick-slider {
      padding-bottom: 20px;
      margin-left: -15px;
      margin-right: -15px;

      .slick-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        background: #FAFAFA;

        img {
          display: block;
          margin: auto;
          height: 170px;
          object-fit: contain;
          vertical-align: middle;
        }
      }

      .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        li {
          margin: 0 5px;

          &:not(.slick-active) {
            opacity: .5;
          }

          button {
            font-size: 0;
            border: none;
            width: 8px;
            height: 8px;
            background: $gray-2;
            padding: 0;
            border-radius: 50%;
          }
        }
      }
    }
  }

  &__info {
    flex-grow: 1;

    &-articles {
      max-width: 190px;
      width: 100%;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 30px;

      @media (max-width: $max-sm) {
        max-width: none;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 15px;
        position: absolute;
        top: -30px;
        left: 0;
      }

      p {
        display: flex;
        justify-content: space-between;
        line-height: 1.5rem;
      }
    }

    &-price {

      @media (max-width: $max-sm) {
        padding-top: 10px;
      }

      &-text {
        margin-bottom: 5px;
      }

      &-value {
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }

    &-availability {
      position: relative;
      display: inline-block;
      background: $gray-3;
      font-size: .75rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .15rem;
      padding: 10px 10px 10px 30px;
      margin-top: 15px;

      &:before {
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      &.available:before {
        background: $green;
      }

      &.can-order:before {
        background: $blue;
      }

      &.in-way:before {
        background: $blue;
      }
    }

    &-params,
    &-order-buttons {
      width: 100%;
      max-width: 540px;
      margin-top: 35px;
    }

    &-params {
      p {
        display: flex;
        justify-content: space-between;
        width: 100%;
        line-height: 1.7rem;

        span {
          &:last-of-type {
            font-weight: bold;
            text-align: right;
          }
        }
      }
    }

    &-order-buttons {
      display: flex;
      justify-content: space-between;

      .btn {
        @media (max-width: $max-md) {
          min-width: 130px;
          padding: 0 10px;
          font-size: 14px;
        }

        @media screen and (max-width: $max-xs) {

        }
      }
    }
  }

  &__tabs{
    width: 100%;
    max-width: 670px;
    margin-top: 55px;

    &-list {
      display: flex;
      width: 100%;
      max-width: 570px;
      margin-bottom: 30px;

      li {
        width: 50%;
        color: $gray-2;
        font-weight: bold;
        border-bottom: 1px solid #2845E5;
        outline: none;

        &.ui-state-active {
          color: $blue;
          border-bottom: 2px solid #2845E5;

          @media (max-width: $max-sm) {
            border-bottom: 4px solid #2845E5;
          }
        }

        a {
          display: block;
          width: 100%;
          padding-bottom: 25px;
          text-decoration: none;
          color: inherit;
          outline: none;

          @media (max-width: $max-sm) {
            padding-bottom: 10px;
          }
        }
      }
    }

    &-content {
      p {
        line-height: 1.5;
        margin-bottom: 40px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}