.registration {
  .footer {
    padding-top: 0;
  }

  .container {
    max-width: 1070px;
    padding: 0 15px;
  }
}

.registration-form__title,
.registration-form__title.container {
  font-size: 1.625rem;
  letter-spacing: 0.02em;
  padding: 20px 0 25px;

  @media screen and (min-width: $max-md){
    padding: 60px 0 35px;
  }
}

.registration-form {

}

.registration-form-side-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.registration-form-side {
  flex: 0 1 470px;
}

.registration-form__password {
  background-color: #f2f2f2;
  padding: 33px 0;
  margin-top: 35px;

  .registration-form__checkbox {
    text-align: left;
    padding-left: 33px;
    display: inline-block;
  }

  .registration-form__checkmark {
    left: 0;
  }

  @media screen and (min-width: $max-md){
    margin-top: 100px;
    padding: 15px 15px 160px;
    text-align: center;

    .registration-form__checkbox {
      text-align: center;
    }

    .registration-form__checkmark {
      left: 0;
    }
  }

  .registration-form__title {
    display: none;

    @media screen and (min-width: $max-md){
      display: block;
    }
  }

  .container {
    max-width: 500px;
  }

  .registration-form__item {
    margin: 0 auto 35px;
    max-width: 470px;
  }
}

.registration-form__checkbox {
  position: relative;
  font-size: 12px;
  line-height: 1.3;
  cursor: pointer;

  > input {
    display: none;
  }

  input:checked ~ .registration-form__checkmark {
    background-color: #fff;

    &::after {
      content: "";
      position: absolute;
    }
  }
}

.registration-form__checkmark {
  position: absolute;
  border: 1px solid $blue;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  left: -34px;
  top: -3px;

  &::after {
    left: 7px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid $blue;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.registration-form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 470px;

  .form__item {
    width: 100%;

    @media screen and (min-width: $max-md){
      width: 45%;
    }
  }
}

.registration-form__checkbox--legal-entity {
  margin-top: 20px;
  font-size: 16px;
  display: block;
  padding-left: 35px;
  font-weight: bold;
  color: $black;

  @media screen and (min-width: $max-md){
    margin-top: 70px;
    font-weight: 400;
    color: $gray;
  }

  .registration-form__checkmark {
    left: 0;
  }
}

.registration-form__password-toggler {
  background: url(../img/svg/show-pass.svg) no-repeat center;
  position: absolute;
  top: 27px;
  right: 11px;
  width: 20px;

  @media screen and (min-width: $max-md){
    top: 41px;
  }

  input {
    opacity: 0;
    width: 20px;
    cursor: pointer;
  }
}
