.vacations {
  @extend %footer-margin-top;

  main {
    padding-top: 50px;
  }

  .block-title {
    @media (max-width: $max-xs) {
      margin-bottom: 20px;
    }
  }
}

.vacations__text-wrapper {
  font-size: 1rem;
  line-height: 1.75rem;

  p {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $max-md) {
      margin-bottom: 0;
    }
  }
}

.vacations__wrapper,
.vacations__text-wrapper {
  max-width: 660px;
  width: 100%;
}

.vacations__wrapper {
  margin-top: 105px;

  @media (max-width: $max-sm) {
    margin-top: 55px;
  }
}

.vacations__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;

  @media (max-width: $max-xs) {
    flex-wrap: wrap;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .btn {
    @media (max-width: $max-sm) and (min-width: $max-xs + 1px){
      min-width: 130px;
      font-size: 14px;
    }

    @media (max-width: $max-xs) {
      width: 100%;
      margin-top: 20px;
    }
  }

  .location {
    position: relative;
    font-size: .75rem;
    font-weight: 300;
    padding-left: 16px;
    margin-bottom: 12px;

    @media (max-width: $max-xs) {
      margin-bottom: 6px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 25%;
      transform: translateY(-50%);
      width: 13px;
      height: 16px;
      background: url(../img/svg/vacation-location.svg) no-repeat;
      background-size: 100% 100%;
    }
  }

  .position {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;

    @media (max-width: $max-xs) {
      font-size: 16px;
    }
  }

  .rate {
    font-size: 1.5rem;
    font-weight: 900;

    @media (min-width: $max-xs + 1px) {
      margin-right: 65px;
    }

    @media (max-width: $max-xs) {
      color: $blue;
      max-width: calc(100% - 224px);
      width: 100%;
    }

    span {
      @media (max-width: $max-xs) {
        display: block;
        text-align: right;

        &:first-child {
          font-size: 1.5rem;
        }

        &:last-child {
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }

  .btn {
    min-width: 170px;
  }
}

.vacations__item-wrapper {
  margin-right: auto;

  @media (max-width: $max-xs) {
    max-width: 224px;
    width: 100%;
  }
}