.btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: $white;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(182.68deg, #304FFE 24.59%, #6200EA 96.34%);
  min-width: 220px;
  text-align: center;
  border: 0;

  @media (max-width: $max-md) {
    font-size: 16px;
    min-width: 170px;
  }

  &_red {
    background: #F50057;
  }

  &_solid-blue {
    background: $blue;
  }
}

.btn--registration {
  width: 100%;
  max-width: 350px;
  margin: 45px auto 0;
  display: block;
}

.btn--registration,
.btn--login,
.btn--profile {
  font-size: 1rem;
  margin-top: 45px;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 7px 7px 20px rgba(48, 79, 254, 0.34);
  }
}

.btn--login,
.btn--profile {
  width: 100%;
  height: 45px;
}

.btn--profile {
  margin-top: 20px;
  max-width: 470px;

  @media screen and (min-width: $max-md){
    margin-top: 0;
  }
}

.btn--checkout {
  width: 100%;
  margin-top: 45px;
  background: #00C853;
  height: 40px;
  font-size: 1rem;
  transition: box-shadow 0.1s;

  &:hover {
    box-shadow: 5px 5px 15px rgba(0, 200, 83, 0.45);
  }

  @media screen and (min-width: $max-sm){
    width: 300px;
    height: 60px;
    margin-top: 0;
  }
}

.btn--dublicate-order {
  background: url(../img/svg/dublicate.svg) no-repeat center;
  border: 0;
  min-width: 50px;
  position: absolute;
  right: 13px;
  z-index: 1;
  height: 40px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.btn--payments {
  font-size: 1rem;
  font-weight: bold;
  color: $blue;
  cursor: pointer;
  padding: 12px 20px;
  background: $white;
  flex: 1 0 25%;
  border: 1px solid #e7e7e7;
  height: 54px;
  transition: box-shadow 0.1s;

  @media screen and (min-width: $max-md){
    padding: 5px 20px;
    flex: 1 0 auto;
    margin-right: 30px;
    height: 40px;
  }

  &:hover {
    box-shadow: 5px 5px 10px rgba(214, 214, 214, 0.4);
  }
}

.btn--payments-pay {
  order: -1;
  font-size: 16px;
  flex: 1 0 100%;
  padding: 5px 20px;
  background-color: $blue;
  border-radius: 40px;
  color: $white;
  margin: 10px auto 10px;
  max-width: 95%;
  height: 40px;
  position: relative;

  @media screen and (min-width: $max-md){
    order: 0;
    flex: 1 0 auto;
    background-color: $white;
    border-radius: 0;
    color: $blue;
    margin: 0;
    max-width: none;
  }
}

button,
input {
  font-family: 'Montserrat', sans-serif;
}
