html {
  @media (max-width: 1300px) {
    font-size: 15px;
  }

  @media screen and (max-width: $max-md) {
    font-size: 12px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .02em;
  max-width: 100%;
  overflow-x: hidden;

  &.mobile-header-open {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &.modal-open {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.menu-visible {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &.filters-shown,
  &.autocomplete-shown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

main {
  position: relative;
  margin-top: 95px;

  @media (max-width: $max-md) {
    margin-top: 50px;
  }

  &:before {
    content: '';
    top: 0;
    left: 0;
    transition: background .5s ease .2s;
  }

  &.hover-menu {
    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .4);
      z-index: 3;
    }
  }

  @media screen and (min-width: $max-md){
    margin-top: 167px;
  }
}

.container {
  display: block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @media (min-width: $max-lg + 1px) {
    max-width: 1170px;
  }

  @media (min-width: $max-md + 1px) {
    max-width: 970px;
  }

  @media (min-width: $max-sm + 1px) {
    max-width: 750px;
  }

  @media (min-width: $max-xs + 1px) {
    max-width: 540px;
  }

  @media (max-width: $max-xs) {
  }
}

em {
  font-style: italic;
}

.lightbox {
  .lb-prev,
  .lb-next {
    display: block !important;
    position: absolute !important;
    width: 35px !important;
    height: 35px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    opacity: 1 !important;
  }

  .lb-next {
    right: -45px !important;
    background: url(../img/svg/lightbox-right.svg) !important;
    background-size: 100% 100% !important;
  }

  .lb-prev {
    left: -45px !important;
    background: url(../img/svg/lightbox-left.svg) !important;
    background-size: 100% 100% !important;
  }
}

.slick-slider * {
  outline: none;
}