%navigation-item {
  font-weight: 600;
  text-decoration: none;
  color: $black;
  padding: 8px 15px;
  margin: 0 4px;
  display: inline-block;

  @media (max-width: 1300px) {
    font-size: .875rem;
    margin: 0 1px;
    padding: 7px 12px;
  }

  @media (min-width: 1750px) {
    margin: 0 8px;
  }

  &.active {
    background: linear-gradient(339.47deg, #304FFE 0%, #6200EA 100%);
    color: $white;
  }
}


%phones-item {

  position: relative;
  font-size: 1.1rem;
  font-weight: 600;
  color: $black;
  text-decoration: none;
  padding-left: 30px;
  margin: 0 15px;

  @media (min-width: 1750px) {
    font-size: 1.625rem;
  }

  @media (min-width: 1500px) {
    font-size: 1.3rem;
  }

  @media (max-width: 1320px) {
    &:first-of-type {
      margin-bottom: 10px;
    }

    &:last-of-type {
      margin-top: 10px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../img/svg/phone-ic.svg) no-repeat;
    background-size: 100% 100%;
  }
}

%border-background {
  background: #F2F4FF;
  border: 1px solid #E6E6E6;
}

%mail-link {
  position: relative;
  background: #FAFAFA;
  border: 1px solid #E6E6E6;
  padding: 10px 15px 10px 60px;
  text-decoration: none;
  font-weight: 500;
  color: $black;
  font-size: .875rem;

  &:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 16px;
    background: url(../img/svg/mail-ic.svg) no-repeat;
    background-size: 100% 100%;
  }
}

%catalog-componets-width {
  max-width: 270px;
  width: 100%;
  margin-left: 15px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: 1600px) {
    margin-left: 200px;
  }

  @media (min-width: 1300px) {
    margin-left: 80px;
    padding-right: 0;
  }
}

%header-padding-left {
  padding-left: 200px;

  @media (max-width: 1599px) {
    padding-left: 80px;
  }

  @media (max-width: $max-md) {
    padding-left: 55px;
  }
}


%footer-margin-top {
  .footer {
    margin-top: 70px;

    @media (max-width: $max-sm) {
      margin-top: 35px;
    }
  }
}