.block-title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 45px;
}

.page-title {
  font-size: 1.625rem;
  font-weight: 600;

  &.is-fixed {
    position: fixed;
    top: 50px;
    z-index: 3;
    background: #fff;
    height: 31px;
    display: block;
    width: 100%;
    padding: 23px 15px 18px!important;
  }
}

.page-title--centered {
  padding: 23px 15px 0!important;

  @media screen and (min-width: $max-md){
    padding: 52px 0!important;
    text-align: center;
  }
}

.page-title--thin {
  font-weight: 400;
}

.page-title--password-recover {
  margin-top: 25px;
}
