.modal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  overflow: hidden;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: opacity .3s ease;
  transition-delay: .3s;

  body.modal-open & {
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
    overflow: scroll;
    transition-delay: 0s;
  }
}

.modal__container {
  position: relative;
  display: none;
  width: 100%;
  max-width: 970px;
  box-sizing: border-box;
  background: $light-gray;
  margin: 50px 15px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 50px 100px;
  opacity: 0;
  transition-delay: 0s;
  transition: opacity .3s ease;

  @media (max-width: $max-md) {
    max-width: 730px;
  }

  @media (max-width: $max-sm) {
    padding: 30px 15px;
  }

  &.active {
    display: block;
  }

  &.active-visible {
    opacity: 1;
    transition-delay: .3s;
  }
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  border: none;
  background: url(../img/svg/close.svg) no-repeat;
  background-size: 100% 100%;
  padding: 0;
  width: 15px;
  height: 15px;
  outline: none;
  cursor: pointer;

  @media (max-width: $max-xs) {
    width: 12px;
    height: 12px;
  }
}

.modal__vacation-loc {
  position: relative;
  font-size: .75rem;
  padding-left: 16px;
  margin-bottom: 10px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 13px;
    height: 16px;
    background: url(../img/svg/location.svg) no-repeat;
    background-size: 100% 100%;
  }
}

.modal__vacation-pos {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal__vacation-date {
  font-size: .75rem;
  margin-bottom: 15px;
}

.modal__vacation-rate {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 28px;
}

.modal__text-content {
  strong {
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 13px 0;
  }

  ul,
  ol {
    padding-left: 20px;

    li {
      position: relative;
      padding-left: 20px;
      line-height: 1.25rem;
      padding-top: 10px;
      padding-bottom: 10px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #C4C4C4;
      }
    }
  }
}

.modal__vacation-form {
  position: relative;
  margin-top: 35px;
}

.modal__vacation-form-row {
  max-width: 470px;
  width: 100%;
  box-sizing: border-box;
}

.modal__vacation-form-label {
  width: 100%;
  font-size: 1rem;
  color: $gray;
  display: block;
  margin-bottom: 3px;
}

.modal__vacation-form-input {
  @extend .form__field;
  margin-bottom: 35px;
}

.modal__vacation-form-row-file {
  margin-top: 10px;
  margin-bottom: 20px;

  @media (min-width: $max-md + 1px) {
    position: absolute;
    right: 0;
    top: 50px;
  }

  input {
    display: none;
  }

  label {
    position: relative;
    padding-top: 20px;
    color: $blue;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: dashed;

    &:before {
      content: '';
      position: absolute;
      width: 25px;
      height: 16px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: url(../img/svg/vacation-download.svg) no-repeat;
      background-size: 100% 100%;
    }
  }
}

.modal__vacation-form-button {
  font-size: 1rem;
  background: $blue;
  min-width: 170px;
}