
//Colors
$black: #000;
$white: #fff;
$gray: #808080;
$gray-2: #BDBDBD;
$gray-3: #F7F7F7;
$green: #00C853;
$blue: #304FFE;
$light-blue: #F2F4FF;
$light-gray: #FCFCFC;

//breakpoints
$max-xl: 1489px;
$max-lg: 1199px;
$max-md: 991px;
$max-sm: 767px;
$max-xs: 574px;
