.cart-wrapper {
  margin-top: 0;
  position: relative;

  @media screen and (min-width: $max-md){
    margin-top: 56px;
    background: $light-blue;
  }
}

.cart__header {
  position: absolute;
  top: -72px;
  right: 0;

  @media screen and (min-width: $max-md){
    position: static;
    border-bottom: 1px #E6E6E6 solid;
    padding: 28px 30px 21px;
  }
}

.cart-footer {
  background: #E6E8F2 url("../img/svg/cart-img.svg") no-repeat 20px 30px;
  display: flex;
  padding: 30px 17px 24px;
  flex-direction: column-reverse;
  justify-content: space-between;

  @media screen and (min-width: $max-sm){
    flex-direction: row;
    background: #E6E8F2;
    padding: 30px 75px;
  }

  .product-item__price {
    margin-left: 137px;
    font-size: 18px;

    @media screen and (min-width: $max-sm){
      display: inline-block;
      margin-left: 6px;
    }
  }

  .product-item__price-pvc {
    margin-left: 137px;

    @media screen and (min-width: $max-sm){
      width: max-content;
      margin-left: 157px;
    }
  }
}

.cart-footer__text {
  font-weight: bold;
  margin-left: 137px;

  @media screen and (min-width: $max-md){
    font-weight: 400;
    margin-left: 0;
  }
}

.cart__success {
  text-align: center;
  display: none;

  &.is-visible {
    display: block;

    ~ .page-title {
      display: none;
    }
  }
}

.cart__success-thanks {
  color: $blue;
  font-weight: bold;
  font-size: 22px;
  margin-top: 44px;
  line-height: 1.4;

  @media screen and (min-width: $max-sm){
    font-size: 26px;
    font-weight: 600;
  }
}

.cart-success-info {
  margin: 20px 0;
  font-size: 14px;
  line-height: 1.4;

  @media screen and (min-width: $max-sm) {
    margin: 20px 0 80px;
  }
}
