.form--login {
  margin-top: 55px;
}

.form--profile {
  max-width: 470px;
  margin-top: 25px;
  width: 100%;

  @media screen and (min-width: $max-md){
    margin-left: 45px;
    width: 100%;
  }
}

.form__item {
  margin-bottom: 20px;
  max-width: 470px;
  position: relative;
  width: 100%;

  @media screen and (min-width: $max-md){
    margin-bottom: 37px;
  }
}

.form__label {
  display: block;
  color: $gray;
  font-size: 12px;
  font-weight: 500;
  width: max-content;
  position: relative;

  @media screen and (min-width: $max-md){
    font-size: 1rem;
    font-weight: 400;
  }

  &--required {

    &::before {
      content: '*';
      position: absolute;
      top: 0;
      color: red;
      font-size: 12px;
      right: -8px;
    }
  }
}

.form__field {
  width: 100%;
  box-sizing: border-box;
  margin-top: 7px;
  border: 0.25px #E5E5E5 solid;
  font-size: 1rem;
  color: $black;
  font-weight: bold;
  padding: 10px 0 10px 15px;

  &::placeholder {
    color: $black;
  }

  @media screen and (min-width: $max-md){
    padding: 18px 0 18px 15px;
  }
}

.form__item--profile {
  @media screen and (min-width: $max-md){
    &::before {
      content: url('../img/svg/edit-ic.svg');
      position: absolute;
      top: 40px;
      right: -35px;
    }
  }
}

.form__field--login {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 14px;

  &::placeholder {
    color: $gray;
  }
}
