.link {
  font-weight: 500;
  font-size: 0.875rem;
  padding-bottom: 4px;
  display: inline-block;
  text-decoration: none;
}

.link--forgot {
  color: #00C853;
  border-bottom: 1px dashed #00C853;

  &:hover {
    border-bottom: 1px solid #00C853;
  }
}

.link--forgot,
.link--signup {
  font-size: 14px;
}

.link--signup,
.link--cart {
  border-bottom: 1px dashed $blue;
  color: $blue;
  float: right;

  &:hover {
    border-bottom: 1px solid $blue;
  }
}

.link--cart {
  float: none;
  font-weight: bold;
  font-size: 1rem;
  margin-left: auto;
  display: block;
  width: max-content;
}
