.order-header,
.payments-options {
  background-color: $light-blue;
  padding: 24px 70px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.payments-options {
  flex-wrap: wrap;
  padding: 0;

  @media screen and (min-width: $max-sm) {
    padding: 10px;
  }

    @media screen and (min-width: $max-md){
    padding: 24px 70px;
  }
}

.payments-options__icon {
  vertical-align: middle;
  margin-left: 10px;
  position: absolute;
  left: -3px;
  top: 5px;

  @media screen and (min-width: $max-md){
    position: static;
  }
}

.order-header {
  outline: 0;
  margin-top: 16px;
  transition: box-shadow 0.2s;
  position: relative;
  padding: 0 20px 13px;

  &::before {
    content: '';
    position: absolute;
    background: url("../img/svg/accordion-arrow-mob.svg") no-repeat center;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    transition: transform 0.5s;
  }

  @media screen and (min-width: $max-sm){
    padding: 13px 20px;
  }

    @media screen and (min-width: $max-md){
    padding: 24px 70px;
    margin-top: 40px;
  }

  &.ui-state-active {
    &::before {
      transform: rotate(180deg);
    }
  }

  .ui-accordion-header-icon {
    display: none;
  }

  &.ui-state-active {
    &:hover {
      box-shadow: 7px 7px 20px transparent;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    box-shadow: 7px 7px 20px rgba(203, 203, 203, 0.4);
  }
}

.order-header-item-wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column-reverse nowrap;

  @media screen and (min-width: $max-sm){
    flex-flow: row nowrap;
  }

  &:last-child {
    min-width: 127px;
  }
}

.order-header--orders {
  padding: 0 20px 16px 80px;
  position: relative;

  &::before {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }

  .order-header-item-wrapper:nth-child(3) {
    flex-basis: 50%;

    @media screen and (min-width: $max-md) {
      flex-basis: 50%;
    }
  }

  @media screen and (min-width: $max-sm) {
    padding: 15px 20px 16px 80px;
  }

  @media screen and (min-width: $max-md){
    padding: 24px 20px 24px 80px;
  }

  &.ui-state-active {
    &::before {
      transform: rotate(180deg) translateY(50%);
    }
  }
}

.order-header-item {
  flex: 1 0 26.5%;

  @media screen and (min-width: $max-md){
    min-width: 270px;
  }
}

.order-header-item--orders {
  flex: 1 0 24.5%;

  @media screen and (min-width: $max-md) {
    min-width: 264px;
  }
}

.order-header-item__name {
  font-size: 0.775rem;
  display: none;

  @media screen and (min-width: $max-sm){
    display: block;
  }
}

.order-header-item__value {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin-top: 16px;
}

.order-header-item__value--date {
  font-weight: bold;
  margin-top: 19px;

  @media screen and (min-width: $max-sm){
    font-weight: 500;
    margin-top: 16px;
  }
}

.order-header-item__value--total {
  font-weight: bold;
  font-size: 14px;

  @media screen and (min-width: $max-md){
    font-size: 1rem;
  }
}

.order-header-item__status {
  font-weight: 600;
  padding: 6px 10px;
  width: max-content;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $white;
  border-radius: 50px;
  margin-top: 13px;
  font-size: 10px;

  @media screen and (min-width: $max-md){
    font-size: 12px;
    border-radius: 4px;
    padding: 6px 10px;
  }
}

.order-header-item__status--canceled  {
  background-color: $gray-2;
}

.order-header-item__status--canceled-orders {
  background-color: #F50057;
}

.order-header-item__status--paid {
  background-color: #F2C94C;
}

.order-header-item__status--pay {
  background: linear-gradient(182.68deg, #304FFE 24.59%, #6200EA 96.34%);
}

.order-header-item__status--expected {
  width: max-content;
  padding: 6px 15px;
}

.order-header-item__status--expected,
.order-header-item__status--done {
  background-color: #00C853;
}

.order-footer {
  background: #E6E8F2;
  display: flex;
  justify-content: space-between;
  padding: 35px 25px 35px 33px;

  @media screen and (min-width: $max-sm){
    padding: 35px 153px 35px 70px;
  }
}

.order-footer__accent {
  font-weight: bold;
  margin-left: 10px;
}
