.profile {
  padding: 54px 0 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: $max-sm){
      flex-wrap: nowrap;
      justify-content: space-around;
    }

    @media screen and (min-width: $max-md){
      justify-content: flex-start;
    }
  }
}

.profile__photo {
  width: 170px;
  height: 170px;
  object-fit: cover;
  text-align: center;
  margin-bottom: 40px;

  input {
    display: none;
  }

  @media screen and (min-width: $max-md){
    margin-bottom: 0;
  }
}

.profile__photo-label {
  display: block;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: $gray;
  cursor: pointer;
  margin-top: 15px;

  &:hover {
    color: $blue;
  }
}

