.product-item {
  padding: 15px 20px 0;
  background-color: $light-blue;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;

  &:last-of-type {
    &::before {
      display: none;
    }
  }

  @media screen and (min-width: $max-sm){
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $max-md){
    padding: 34px 77px 34px 32px;
  }

  &::before {
    content: '';
    background-color: #E6E6E6;
    width: 86%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    position: absolute;
  }
}

.cart {
  .product-item {
    margin-top: 15px;
  }
}

.product-item--orders {
  max-width: none;
  padding: 16px 10px 20px 30px;

  @media screen and (min-width: $max-md){
    padding: 34px 130px 34px 67px;
  }

  &::before {
    width: 88.3%;
  }

  .product-item__price {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 130px;

    @media screen and (min-width: $max-sm){
      margin: 0;
      font-size: 14px;
      color: $black;
    }
  }
}

.product-item__img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  float: left;
  margin-right: 60px;
  margin-top: 27px;

  @media screen and (min-width: $max-sm){
    float: none;
    margin-right: 20px;
    width: 110px;
    height: 110px;
    margin-top: 0;
  }
}

.product-item__name {
  max-width: 333px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;

  @media screen and (min-width: $max-sm){
    font-weight: 400;
    line-height: 1.25;
  }
}

.product-item__code {
  margin-top: 30px;
  position: absolute;
  font-size: 10px;
  left: 15px;
  top: -10px;

  @media screen and (min-width: $max-sm){
    position: static;
    font-size: 14px;
  }
}

.product-item__code,
.product-item__price {
  font-weight: bold;
}



.product-item__price-pvc {
  font-size: 12px;
  margin-top: 7px;
  font-weight: 300;
  font-style: italic;
  color: $gray;
  margin-left: 130px;

  @media screen and (min-width: $max-sm){
    margin-left: 0;
    font-style: normal;
  }
}

.product-item__price {
  margin-left: 130px;
  margin-top: 13px;
  color: $blue;
  font-size: 14px;

  @media screen and (min-width: $max-sm){
    margin: 0;
    color: $black;
  }
}

.product-item--mob-hidden {
  display: none;

  @media screen and (min-width: $max-sm){
    display: block;
  }
}

.product-item__quantity {
  height: 25px;
  width: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid $gray-2;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 14px;

  @media screen and (min-width: $max-sm){
    margin-right: 12px;
    margin-top: 0;
  }

  @media screen and (min-width: $max-md){
    margin-right: 0;
    height: 40px;
    width: 50px;
  }
}
.product-item__quantity-wrapper {
  margin-left: 125px;

  @media screen and (min-width: $max-sm) {
    margin-left: 0;
  }
}

.product-item__quantity-change {
  border: 0;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.product-item__quantity--orders {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1rem;

  @media screen and (min-width: $max-sm){
    margin-top: 0;
    margin-right: 12px;
  }

  @media screen and (min-width: $max-md){
    margin-right: 0;
  }

  span {
    font-weight: 400;
    margin-left: 4px;
  }
}

.product-item__remove {
  border: 0;
  outline: 0;
  cursor: pointer;
  background: url('../img/svg/remove.svg') no-repeat center;
  display: none;

  @media screen and (min-width: $max-sm){
    display: block;
  }
}

.product-item__remove--mob {
  color: #F50057;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  border: 0;
  border-top: 1px solid #E6E6E6;
  padding: 10px;
  background: none;
  width: 111%;
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: $max-sm){
    display: none;
  }
}
