.profile-tabs__list {
  display: flex;
  box-sizing: border-box;
  margin-top: 15px;
  border-bottom: 2px solid $blue;

  @media screen and (min-width: $max-sm){
    margin-top: 0;
  }

  @media screen and (min-width: $max-md){
    padding: 0;
    border-bottom: 0;
  }
}

.profile-tabs__list--account {
  opacity: 0;
  transition: opacity 0.5s;
  top: 106px;
  border: 0;
  position: fixed;
  background-color: $white;
  flex-direction: column;
  transform: translateX(-150%);
  z-index: 2;
  flex-wrap: wrap;

  @media screen and (min-width: $max-sm){
    border-bottom: 2px solid $blue;
    background-color: transparent;
    margin-top: 0;
    opacity: 1;
    transform: translateX(0);
    flex-direction: row;
    position: static;
  }

  &.is-visible {
    transform: translateX(0);
    opacity: 1;
    height: calc(100vh - 120px);

    &.is-active {
      background: $gray-3;
      color: $blue;
      border: 0;
    }

    .profile-tabs__link {
      padding: 45px 0;
      font-size: 16px;
    }

    .profile-tabs__item {
      max-height: none;
      width: 100%;
      border-bottom: 1px solid #e7e7e7;

      &:last-child {
        border-bottom: 0;
      }

      &.is-active {

        @media screen and (min-width: $max-sm){
          border-bottom: 8px solid $blue;
        }
      }
    }
  }
}

.profile-tabs__list.container {
  padding: 0!important;
}

.profile-tabs__item {
  display: block;
  flex: 1 0 auto;
  text-align: left;
  max-height: 80px;
  padding-left: 30px;
  box-sizing: border-box;

  &:nth-child(3) {
    order: -1;
  }

  &:first-child {
    order: -1;
  }

  @media screen and (min-width: $max-sm){
    text-align: center;
    padding-left: 0;
  }

  @media screen and (min-width: $max-md){
    border: 1px;
    max-height: 90px;

    &:nth-child(3) {
      order: 0;
    }

    &:first-child {
      order: 0;
    }
  }

  &.ui-tabs-active,
  &.is-active {
    border-bottom: 8px solid $blue;

    @media screen and (min-width: $max-md){
      border: 1px solid $gray-2;
      border-bottom: 1px solid $white;
      background-color: $white;
    }

    .profile-tabs__link {
      color: $blue;
    }
  }
}

.profile-tabs__link {
  display: block;
  font-weight: bold;
  color: $gray;
  text-decoration: none;
  width: 100%;
  outline: 0;
  font-size: 1rem;
  padding: 35px 0;
}

.profile-tabs__wrapper {
  @media screen and (min-width: $max-md){
    overflow: visible;
    height: 86px;
    border-bottom: $gray-2 solid 1px;
  }
}

.profile-tabs__item--disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: #e7e7e7!important;
  outline: 0;

  @media screen and (min-width: $max-sm){
  }
}
