.block-partner-logotypes {
  padding: 70px;
  border: 1px solid #E6E6E6;
  background: $light-blue;

  @media (max-width: $max-md) {
    display: none;
  }

  .slick {
    &-slide {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__item {
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    border: 1px solid #F2F2F2;
    height: 110px;

    img {
      width: auto;
      height: auto;
      max-width: 80%;
    }
  }
}