.block-with-product-rows {
  padding-top: 30px;
  @media (min-width: $max-sm + 1px) {
    padding-top: 70px;
  }
}

.block-with-product-rows__item {
  @extend %border-background;
  display: block;
  padding: 30px 0 15px;
  text-decoration: inherit;
  color: inherit;
  transition: box-shadow .3s ease .05s;
  box-sizing: border-box;

  @media (min-width: $max-md + 1px) {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 30px 30px;
    width: 100%;
    margin-bottom: 30px;
  }

  @media (max-width: $max-md) {
    max-width: 180px;
    box-sizing: border-box;
    background: transparent;
  }

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .btn {
    min-width: 170px;
    margin-top: 9px;

    @media (max-width: $max-md) {
      background: #F2F4FF;
      border: 1px solid #304FFE;
      font-size: 12px;
      color: $blue;
      min-width: 150px;
      height: 24px;
      line-height: 24px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.block-with-product-rows__item-price {

  @media (min-width: $max-lg + 1px) {
    margin-left: 8%;
  }

  @media (min-width: $max-md + 1px) {
    flex-grow: 1;
    margin-left: 4%;
  }

  @media (max-width: $max-md) {
    padding: 0 15px;
    font-size: 18px;
    margin-top: 7px;

    span:last-child {
      font-size: 12px;
    }
  }

  &-value {
    font-size: 2.25rem;
    color: $blue;
    font-weight: 600;
    margin-bottom: 10px;

    @media (max-width: $max-lg) {
      font-size: 1.8rem;
    }
  }

  &-pdv {
    @media (max-width: $max-lg) {
      font-size: .9rem;
    }

    @media (max-width: $max-md) {
      display: none;
    }
  }
}

.block-with-product-rows__item-info {
  line-height: 1.25rem;
  font-size: 1rem;
  padding: 0 15px;

  @media (min-width: $max-md + 1px) {
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 32%;
    flex-grow: 1;
    padding: 0;
  }

  strong {
    display: block;
    font-weight: bold;
    margin-top: 10px;

    @media (max-width: $max-md) {
      margin-top: 5px;
    }
  }
}

.block-with-product-rows__item-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center center;

  @media (min-width: $max-md + 1px) {
    max-width: 100px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: $max-md) {
    object-fit: contain;
  }
}

.block-with-product-rows__title {
  @media (max-width: $max-sm) {
    margin-bottom: 30px;
  }
}