.block-proposals {
  margin-top: 25px;

  @media (min-width: $max-xs + 1px) {
    margin-top: 65px;
  }
}

.block-proposals__wrapper {
  display: flex;

  @media (max-width: $max-md) {
    flex-wrap: wrap;
  }

  @media (max-width: $max-xs) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.block-proposals__more-btn {
  font-size: 1rem;
  background: #F2F4FF;
  border: 1px solid $blue;
  height: 40px;
  line-height: 40px;
  display: block;
  width: 180px;
  text-align: center;
  font-weight: bold;
  margin: 80px auto 0;
  text-decoration: none;
  color: $blue;
  transition: box-shadow .2s ease .05s;

  @media (max-width: $max-sm) {
    margin: 40px auto 0;
  }

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }
}

.block-proposals__item {
  @extend %border-background;
  position: relative;
  width: 25%;
  margin-right: 30px;
  color: inherit;
  text-decoration: inherit;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $max-md) {
    width: 45%;
    margin-bottom: 30px;
  }

  @media (max-width: $max-sm) {
    margin: 0 15px 30px;
    width: calc(50% - 35px);
  }

  @media (max-width: $max-xs) {
    margin: 0;
    width: 50%;
    box-sizing: border-box;
    border-radius: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.block-proposals__item-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center center;
  margin-bottom: 20px;

  @media (min-width: $max-xs + 1px) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.block-proposals__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}

.block-proposals__item-code {
  font-weight: 500;
  color: $gray;
}

.block-proposals__item-name {
  font-weight: bold;
  padding-left: 15px;
  width: calc(100% - 30px);
  line-height: 1.25rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.block-proposals__item-price {
  padding-left: 15px;
  margin-bottom: 5px;
  width: calc(100% - 30px);
  font-size: 1.625rem;
  font-weight: bold;
  margin-top: auto;

  @media (min-width: $max-xs + 1px) {
    margin-bottom: 25px;
  }

  @media (max-width: $max-xs) {
    width: 100%;
    box-sizing: border-box;
    padding-right: 35px;
    color: $blue;
    font-weight: 600;
  }
}

.block-proposals__item-producer {
  padding-left: 15px;
  width: calc(100% - 30px);
  color: $gray;
  font-size: .625rem;
  margin-bottom: 20px;

  @media (max-width: $max-xs) {
    display: none;
  }

  span {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.block-proposals__item-btn-wrapper {
  display: flex;
  width: 100%;

  @media (max-width: $max-xs) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.block-proposals__item-btn-more {
  position: relative;
  height: 40px;
  line-height: 40px;
  border: none;
  background: linear-gradient(188.66deg, #304FFE 0%, #6200EA 100%);
  font-size: 1rem;
  color: $white;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  text-indent: 10px;
  text-decoration: none;
  transition: filter .3s ease;
  border-bottom-left-radius: 5px;

  &:hover {
    filter: brightness(.86) contrast(1.3);
  }

  @media (max-width: $max-xs) {
    display: none;
  }
}

.block-proposals__item-btn-buy {
  position: relative;
  width: 70px;
  background: #6200EA;
  border-bottom-right-radius: 5px;
  transition: filter .3s ease;

  @media (max-width: $max-xs) {
    width: 32px;
    height: 32px;
    margin-left: auto;
    background: linear-gradient(194.43deg, #304FFE 24.59%, #6200EA 96.34%);
    border-radius: 0;
  }

  &:hover {
    filter: brightness(.86) contrast(1.3);
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: url(../img/svg/cart-bag-ic.svg) no-repeat;
    background-size: 20px;
    background-position: center center;
  }
}

.block-proposals__item-availability {
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background: #000;
  border-radius: 9px;
  padding: 0 4px;
  line-height: 20px;
  white-space: nowrap;

  &.available {
    background: $green;
  }

  &.can-order {
    background: $gray-2;
    color: $black;
    font-size: .6rem;
  }

  &.in-way {
    background: $blue;
  }
}

.block-proposals__item-labels {
  position: absolute;
  left: 2px;
  top: 2px;

  @media (min-width: $max-xs + 1px) {
    left: -20px;
    top: -20px;
  }
}

.block-proposals__item-labels-label {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  z-index: 2;

  @media (min-width: $max-xs + 1px) {
    width: 40px;
    height: 40px;
  }

  &:nth-child(2) {
    left: 20px;
    z-index: 1;
  }

  &.new {
    background: url(../img/svg/label-new.svg) no-repeat;
    background-size: 100% 100%;
  }

  &.discount {
    background: url(../img/svg/label-discount.svg) no-repeat;
    background-size: 100% 100%;
  }
}


