.catalog__content {
  flex-grow: 1;
  font-size: 1.62rem;
  padding-bottom: 35px;

  @media (min-width: $max-md + 1px) {
    padding-left: 30px;
  }

  @media (max-width: $max-md) and (min-width: $max-sm + 1px){
    max-width: 600px;
    margin: auto;
  }

  @media (max-width: $max-sm) {
    width: 100%;
  }

  .breadcrumbs {
    @media (max-width: $max-sm) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.catalog__content-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $max-md) {
    flex-direction: column-reverse;
  }

  @media (max-width: $max-sm) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.catalog__content-title {
  display: inline-block;
  font-weight: 600;
}

.catalog__content-mobile-buttons {
  @media (max-width: $max-md) {
    margin-bottom: 20px;
  }
}

.catalog__content-filters-button {
  position: relative;
  background: rgba(#6200EA, .2);
  border: none;
  border-radius: 50px;
  line-height: 36px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 15px 0 45px;
  margin-right: 5px;

  @media (min-width: $max-md + 1px) {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 18px;
    background: url(../img/svg/filters-mobile.svg) no-repeat;
    background-size: 100% 100%;
  }
}

.catalog__content-sorting {
  display: inline-block;
  vertical-align: middle;

  @media (min-width: $max-md + 1px) {
    position: relative;
    padding-left: 28px;
  }

  @media (max-width: $max-md) {
    background: url(../img/svg/sorting.svg) no-repeat;
    background-position-x: 17px;
    background-position-y: 13px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 18px;
    height: 10px;
    background: url(../img/svg/sorting.svg) no-repeat;
    background-size: 100% 100%;

    @media (max-width: $max-md) {
      content: none;
    }
  }
}

.catalog__content-sorting-button {
  position: relative;
  padding-left: 0;
  padding-right: 40px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @media (max-width: $max-md) {
    font-weight: bold;
    background: rgba(#00C853, .3);
    padding: 0 25px 0 50px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 50px;
  }

  &.visible-desktop {
    @media (max-width: $max-md + 1px) {
      display: none;
    }
  }

  &.visible-mobile {
    @media (min-width: $max-md) {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../img/svg/catalog-dropdown.svg) no-repeat;
    background-size: 100% 100%;

    @media (max-width: $max-md) {
      content: none;
    }
  }
}

.catalog__content-sorting-wrapper {
  display: none;
  position: absolute;
  background: $white;
  padding: 20px;
  right: 0;
  left: 5px;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  z-index: 3;
  box-sizing: border-box;

  @media (min-width: $max-md +1px) {
    top: 100%;
  }

  @media (max-width: $max-md) {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 100%;
    max-width: 600px;
  }

  @media (max-width: $max-sm) {
    max-width: 100%;
    padding: 15px;
  }

  .catalog__content-sorting.open & {
    display: block;
  }
}

.catalog__content-sorting-button,
.catalog__content-sorting-item {
  display: block;
  font-size: .625rem;
  letter-spacing: .03em;
  text-decoration: none;
  color: $black;
}

.catalog__content-sorting-item {
  line-height: 1.25rem;

  @media (max-width: $max-md) {
    font-size: 14px;
    line-height: 2rem;
  }
}

.catalog__content-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1331px) {
    max-width: 900px;
  }

  @media (min-width: $max-md + 1px) {
    max-width: 600px;
  }

}

.catalog__content-item {
  width: 100%;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $max-sm + 1px) {
    max-width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #F2F4FF;
  }

  @media (max-width: $max-sm) {
    position: relative;
    width: 50%;
    border-right: 0;
  }
}

.catalog__content-item-articles {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  @media (max-width: $max-sm) {
    padding: 13px 15px;
  }

  p {
    font-size: .625rem;
    font-weight: bold;

    @media (min-width: $max-sm + 1px) {
      margin: 0 5px;
      font-weight: normal;
    }

    &:first-child {
      margin-left: 0;

      @media (max-width: $max-sm) {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.catalog__content-item-img {
  height: 160px;
  width: 100%;
  object-fit: contain;
  background: #FCFCFC;
}

.catalog__content-item-status {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $max-sm + 1px) {
    padding: 7px 20px;
  }
}

.catalog__content-item-availability {
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background: #000;
  border-radius: 9px;
  padding: 0 4px;
  line-height: 20px;
  white-space: nowrap;

  @media (max-width: $max-sm) {
    display: none;
  }

  &.available {
    background: $green;
  }

  &.can-order {
    background: $gray-2;
    color: $black;
    font-size: .6rem;
  }

  &.in-way {
    background: $blue;
  }
}

.catalog__content-item-labels {
  position: relative;
  width: 55px;
  height: 40px;

  @media (max-width: $max-sm) {
    position: absolute;
    right: 0;
    top: 5px;
  }
}

.catalog__content-item-labels-label {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  z-index: 2;

  @media (min-width: $max-sm + 1px) {
    width: 40px;
    height: 40px;
  }

  &:nth-child(2) {
    left: 20px;
    z-index: 1;
  }

  &.new {
    background: url(../img/svg/label-new.svg) no-repeat;
    background-size: 100% 100%;
  }

  &.discount {
    background: url(../img/svg/label-discount.svg) no-repeat;
    background-size: 100% 100%;
  }
}

.catalog__content-item-name {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 20px;
  padding: 0 20px;

  @media (max-width: $max-sm) {
    padding: 10px 15px 0;
    font-weight: bold;
    line-height: 1rem;
  }
}

.catalog__content-item-price {
  font-size: 1.625rem;
  font-weight: 600;
  color: $blue;
  padding: 0 20px;
  margin-bottom: 0;
  margin-top: auto;

  @media (max-width: $max-sm) {
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 32px;
  }

  span:last-child {
    @media (max-width: $max-sm) {
      font-size: 12px;
    }
  }
}

.catalog__content-item-pdv {
  padding: 0 20px;
  color: $gray;
  font-size: 1rem;

  @media (max-width: $max-sm) {
    display: none;
  }
}

.catalog__content-item-producer {
  padding: 0 20px;
  margin-top: 35px;
  margin-bottom: 30px;

  @media (max-width: $max-sm) {
    display: none;
  }

  p {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
    font-size: .625rem;
    margin-bottom: 5px;

    span:first-child {
      color: $gray;
    }
  }
}

.catalog__content-item-more {
  position: relative;
  font-size: .875rem;
  color: $blue;
  text-align: center;
  border-bottom: 1px dashed;
  padding-bottom: 2px;
  text-decoration: none;
  align-self: center;

  @media (max-width: $max-sm) {
    display: none;
  }
}

.catalog__content-item-order {
  position: relative;
  display: block;
  width: 100%;
  background: linear-gradient(186.44deg, #304FFE 0%, #6200EA 100%);
  text-align: center;
  line-height: 40px;
  font-size: 1rem;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  text-indent: -20px;
  letter-spacing: .05rem;

  @media (max-width: $max-sm) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    font-size: 0;
    margin-left: auto;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 68%;
    width: 20px;
    height: 25px;
    transform: translateY(-50%);
    background: url(../img/svg/cart-bag-ic.svg) no-repeat;
    background-position: center center;

    @media (max-width: $max-sm) {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.catalog__content-more-btn {
  @extend .block-proposals__more-btn;
  margin-bottom: 50px;
}