.catalog__filters {
  position: relative;
  background: #F7F7F7;
  border: 0.25px solid #BDBDBD;
  max-width: 630px;

  body.filters-shown & {
    left: 0;
  }

  @media (min-width: $max-lg + 1px) {
    flex-basis: 30%;
  }

  @media (min-width: $max-md + 1px) {
    flex-basis: 41%;
  }

  @media (max-width: $max-md) {
    position: fixed;
    top: 50px;
    z-index: 3;
    left: -200%;
    transition: left .3s ease .1s;
    overflow: scroll;
    height: 100%;
    padding-bottom: 100px;
    width: 290px;
  }
}

.catalog__filters-available {
  margin-bottom: 55px;
  margin-top: 60px;

  @media (max-width: $max-md) {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

.catalog__filters-tags {
  @extend %catalog-componets-width;
  margin-top: 25px;
  margin-bottom: 25px;

  @media (max-width: $max-md) {
    max-width: none;
    margin: 10px 0;
  }

  @media (max-width: $max-sm) {
    padding-right: 15px;
    padding-left: 15px;
  }

  &.visible-desktop {
    @media (max-width: $max-md) {
      display: none;
    }
  }

  &.visible-mobile {
    @media (min-width: $max-md + 1px) {
      display: none;
    }
  }
}

.catalog__filters-tags-tag {
  position: relative;
  display: inline-block;
  font-size: .625rem;
  text-decoration: none;
  color: $black;
  padding-left: 25px;
  margin: 3px 0;

  @media (max-width: $max-md) {
    padding-left: 17px;
    font-size: 10px;
    font-weight: bold;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../img/svg/catalog-tag-cross.svg) no-repeat;
    background-size: 100% 100%;

    @media (max-width: $max-md) {
      width: 17px;
      height: 17px;
    }
  }
}

.catalog__filters-group {
  //margin-bottom: 10px;
  //
  //@media (min-width: $max-md + 1px) {
  //  margin-bottom: 20px;
  //}
}

.catalog__filters-dropdown-header {
  @extend %border-background;
  //margin-bottom: 20px;
  cursor: pointer;
  width: calc(100% - 1px);
  box-sizing: border-box;
  border-right: 0;
}

.catalog__filters-dropdown-button {
  @extend %catalog-componets-width;
  position: relative;
  display: block;
  text-decoration: none;
  color: $black;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 22px !important;
  font-size: 1rem;
  font-weight: bold;

  @media (max-width: $max-md) {
    font-size: 16px;
    color: $blue;
    padding-right: 35px !important;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    width: 20px;
    height: 20px;
    background: url(../img/svg/catalog-dropdown.svg) no-repeat;
    background-size: 100% 100%;
    transition: transform .3s ease .1s;

    @media (max-width: $max-md) {
      right: 15px;
    }

    .dropdown-open & {
      transform: translateY(-50%);
    }
  }
}

.catalog__filters-dropdown-list {
  max-height: 0;
  height: 100%;
  overflow: hidden;
  transition: max-height .3s ease .1s, padding .3s ease .1s;

  .dropdown-open & {
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

.catalog__filters-group-item {
  @extend %catalog-componets-width;
  margin-bottom: 15px;

  input {
    display: none;
  }

  label {
    display: block;
    position: relative;
    font-weight: 500;
    padding-left: 25px;

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      height: 10px;
      width: 13px;
      background: url(../img/svg/checked-empty.svg) no-repeat;
      background-size: contain;

      @media (max-width: $max-md) {
        width: 18px;
        height: 13px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  input:checked + label {
    font-weight: bold;

    &:before {
      background: url(../img/svg/checked-filled.svg) no-repeat;
      background-size: contain;
    }
  }
}

.catalog__filters-btn {
  @extend %catalog-componets-width;
  max-width: none;
  width: auto;
  display: inline-block;
  border: 2px solid $blue;
  color: $blue;
  background: transparent;
  line-height: 40px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px !important;

  @media (max-width: $max-md) {
    padding-left: 20px;
    padding-right: 20px !important;
    line-height: 35px;
  }
}

.catalog__filters-close {
  position: fixed;
  left: 310px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: url(../img/svg/filters-cross.svg) no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease 0s;

  body.filters-shown & {
    opacity: 1;
    pointer-events: auto;
    transition-delay: .6s;
  }

  @media (min-width: $max-md + 1px) {
    display: none;
  }
}