.delivery {
  .profile-tabs__list {
    border: 0!important;
  }

  .page-title:last-of-type {
    margin-top: 20px;
  }
}

.delivery-accordion {
  margin-top: 30px;
  position: relative;

  @media screen and (min-width: $max-sm){
    margin-top: 60px;
    width: max-content;
  }
}

.delivery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: $max-md){
    flex-wrap: nowrap;
  }
}
.delivery-accordion__header {
  position: relative;
  padding-bottom: 29px;
  font-size: 14px;
  outline: 0;
  cursor: pointer;

  &::before {
    content: url("../img/svg/accordion-arrow-mob.svg");
    position: absolute;
    top: -11px;
    right: 0;
    transition: transform 0.3s;
  }

  @media screen and (min-width: $max-sm){
    font-weight: bold;
    font-size: 1rem;

    &::before  {
      content: url("../img/svg/accordion-arrow.svg");
      right: -32px;
      height: 20px;
      top: -2px;
    }
  }

  &.ui-state-active {
    &::before {
      transform-origin: center;
      transform: rotate(180deg);
    }
  }
}

.delivery-accordion__content {
  font-weight: bold;

  @media screen and (min-width: $max-sm){
    font-weight: 400;
  }
}

.delivery-options {
  display: block;
  font-size: 1rem;
  cursor: pointer;
  left: 170%;
  top: -53px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 7px 3px 25px 2px rgba($gray-2, 0.2);

  @media screen and (min-width: $max-sm){
    position: absolute;
    margin-bottom: 0;
    border: 1px #E5E5E5 solid;
    box-shadow: none;
  }
}

.delivery-options--payments {
  left: 220%;
}

.delivery-options__item {
  padding: 16px 15px 16px 35px;
  background-color: $white;
  width: 100%;
  position: relative;
  transition: 0.15s background-color;

  @media screen and (min-width: $max-sm){
    background-color: $light-blue;
    border-bottom: 1px #E5E5E5 solid;
    width: 230px;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  &:hover {
    background-color: darken($light-blue, 5%);
  }

  &:last-child {
    border-bottom: 0
  }

  &.is-selected {
    background-color: darken($light-blue, 5%);

    @media screen and ($max-sm){
      background-color: $white;
    }

    &::before {
      content: '';
      position: absolute;
      background: url('../img/svg/checkmark.svg') no-repeat center;
      left: 10px;
      top: 50%;
      width: 15px;
      height: 15px;
      transform: translateY(-50%);
    }
  }
}

.delivery-option-content {
  display: none;
  margin-bottom: 20px;

  &.is-visible {
    display: block;
  }

  @media screen and (min-width: $max-sm){
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.delivery-option-content--payments {
  margin-top: 35px;
  display: none;
  justify-content: space-between;

  &.is-visible {
    display: flex;
  }

  @media screen and (min-width: $max-sm) {
    margin-top: 25px;
    max-width: 280px;
  }
}

.delivery-option-tab {
  margin-top: 20px;
  outline: 0;
  position: relative;
  margin-bottom: 35px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px $blue solid;
  }

  @media screen and (min-width: $max-sm){
  }

  &.ui-state-active {
    &::before {
      content: '\25CF';
      color: $blue;
      text-align: center;
      line-height: 0.7;
      font-size: 20px;
    }
  }
}

.delivery-option-tab--extra-margin {
  @media screen and (min-width: $max-sm){
    margin-top: 130px;
  }
}

.delivery-option-tab:last-child {
  margin-left: auto;
}

.delivery-option-tab__link {
  color: $black;
  text-decoration: none;
  padding-left: 35px;
  outline: 0;
}

.delivery-option-tab__content-text {
  font-weight: bold;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;

    @media screen and (min-width: $max-sm){
      margin-top: 30px;
    }
  }
}

.delivery-side-wrapper {
  flex: 1 0 60%;
}

.delivery-option-content-wrapper {
  margin-top: 20px;
  max-width: 570px;
  width: 100%;

  .container {
    padding: 0;

    @media screen and (min-width: $max-sm){
      padding: 0 15px;
    }
  }
}

.delivery-accordion__button {
  display: inline-block;
  width: 72px;
  height: 37px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  cursor: pointer;
  transition: filter 0.2s;
  filter: grayscale(100%);
  flex: 0 1 28%;

  &:hover,
  &:focus{
    filter: grayscale(0);
  }
}

.delivery-accordion__button--show {
  background: #FAFAFA url("../img/svg/payment-open.svg") no-repeat center;
}

.delivery-accordion__button--download {
  background: #FAFAFA url("../img/svg/print.svg") no-repeat center;
}

.delivery-accordion__button--print {
  background: #FAFAFA url("../img/svg/download.svg") no-repeat center;
}

.delivery-option-content--pick-up {
  max-width: 300px;

  @media screen and (min-width: $max-sm){
    max-width: 450px;
  }
}
