<section class="block-proposals">
    <div class="container">
        <p class="block-proposals__title block-title">Найкращі пропозиції</p>
        <div class="block-proposals__wrapper">
            <div class="block-proposals__item">
                <div class="block-proposals__item-labels">
                    <div class="block-proposals__item-labels-label new"></div>
                    <div class="block-proposals__item-labels-label discount"></div>
                </div>
                <img class="block-proposals__item-img" src="./img/product-2.jpg" alt="product-2">
                <p class="block-proposals__item-wrapper">
                    <span class="block-proposals__item-code">000135274</span>
                    <span class="block-proposals__item-availability can-order">під замовлення</span>
                </p>
                <p class="block-proposals__item-name">Ремкомплект головки гидроцилиндра</p>
                <p class="block-proposals__item-price">50 000</p>
                <p class="block-proposals__item-producer">
                    <span>Liebherr</span>
                    <span>Німеччина</span>
                </p>
                <div class="block-proposals__item-btn-wrapper">
                    <a href class="block-proposals__item-btn-more">Детальніше</a>
                    <a href class="block-proposals__item-btn-buy"></a>
                </div>
            </div>
            <div class="block-proposals__item">
                <div class="block-proposals__item-labels">
                    <div class="block-proposals__item-labels-label discount"></div>
                    <div class="block-proposals__item-labels-label new"></div>
                </div>
                <img class="block-proposals__item-img" src="./img/product-2.jpg" alt="product-2">
                <p class="block-proposals__item-wrapper">
                    <span class="block-proposals__item-code">000135274</span>
                    <span class="block-proposals__item-availability in-way">в дорозі</span>
                </p>
                <p class="block-proposals__item-name">Ремкомплект головки гидроцилиндра</p>
                <p class="block-proposals__item-price">50 000</p>
                <p class="block-proposals__item-producer">
                    <span>Liebherr</span>
                    <span>Німеччина</span>
                </p>
                <div class="block-proposals__item-btn-wrapper">
                    <a href class="block-proposals__item-btn-more">Детальніше</a>
                    <a href class="block-proposals__item-btn-buy"></a>
                </div>
            </div>
            <div class="block-proposals__item">
                <div class="block-proposals__item-labels">
                    <div class="block-proposals__item-labels-label new"></div>
                </div>
                <img class="block-proposals__item-img" src="./img/product-2.jpg" alt="product-2">
                <p class="block-proposals__item-wrapper">
                    <span class="block-proposals__item-code">000135274</span>
                    <span class="block-proposals__item-availability available">в наявності</span>
                </p>
                <p class="block-proposals__item-name">Ремкомплект головки гидроцилиндра</p>
                <p class="block-proposals__item-price">50 000</p>
                <p class="block-proposals__item-producer">
                    <span>Liebherr</span>
                    <span>Німеччина</span>
                </p>
                <div class="block-proposals__item-btn-wrapper">
                    <a href class="block-proposals__item-btn-more">Детальніше</a>
                    <a href class="block-proposals__item-btn-buy"></a>
                </div>
            </div>
            <div class="block-proposals__item">
                <div class="block-proposals__item-labels">
                    <div class="block-proposals__item-labels-label discount"></div>
                </div>
                <img class="block-proposals__item-img" src="./img/product-2.jpg" alt="product-2">
                <p class="block-proposals__item-wrapper">
                    <span class="block-proposals__item-code">000135274</span>
                    <span class="block-proposals__item-availability in-way">в дорозі</span>
                </p>
                <p class="block-proposals__item-name">Ремкомплект головки гидроцилиндра</p>
                <p class="block-proposals__item-price">50 000</p>
                <p class="block-proposals__item-producer">
                    <span>Liebherr</span>
                    <span>Німеччина</span>
                </p>
                <div class="block-proposals__item-btn-wrapper">
                    <a href class="block-proposals__item-btn-more">Детальніше</a>
                    <a href class="block-proposals__item-btn-buy"></a>
                </div>
            </div>
        </div>
        <a href class="block-proposals__more-btn">Більше</a>
    </div>
</section>