<section class="block-with-product-rows">
    <div class="container">
        <p class="block-with-product-rows__title block-title">Замінники</p>
    </div>
    <div class="container js-product-rows-slider">
        <a href class="block-with-product-rows__item">
            <img src="./img/product-2.jpg" alt="product-2" class="block-with-product-rows__item-img">
            <div class="block-with-product-rows__item-info">
                <p>Элемент ф-ра воздушного наружный (RE210102 /P617646 /AF26337), D8130-8530/R-Seria (Baldwin)</p>
                <strong>Артикул: <span>223322332</span></strong>
            </div>
            <div class="block-with-product-rows__item-price">
                <p class="block-with-product-rows__item-price-value"><span>500 000</span> <span>грн</span></p>
                <em class="block-with-product-rows__item-price-pdv">( 490 000 грн без ПДВ )</em>
            </div>
            <p class="btn">Купити</p>
        </a>
        <a href class="block-with-product-rows__item">
            <img src="./img/product-2.jpg" alt="product-2" class="block-with-product-rows__item-img">
            <div class="block-with-product-rows__item-info">
                <p>Элемент ф-ра воздушного наружный (RE210102 /P617646 /AF26337), D8130-8530/R-Seria (Baldwin)</p>
                <strong>Артикул: <span>223322332</span></strong>
            </div>
            <div class="block-with-product-rows__item-price">
                <p class="block-with-product-rows__item-price-value"><span>500 000</span> <span>грн</span></p>
                <em class="block-with-product-rows__item-price-pdv">( 490 000 грн без ПДВ )</em>
            </div>
            <p class="btn">Купити</p>
        </a>
        <a href class="block-with-product-rows__item">
            <img src="./img/product-2.jpg" alt="product-2" class="block-with-product-rows__item-img">
            <div class="block-with-product-rows__item-info">
                <p>Элемент ф-ра воздушного наружный (RE210102 /P617646 /AF26337), D8130-8530/R-Seria (Baldwin)</p>
                <strong>Артикул: <span>223322332</span></strong>
            </div>
            <div class="block-with-product-rows__item-price">
                <p class="block-with-product-rows__item-price-value"><span>500 000</span> <span>грн</span></p>
                <em class="block-with-product-rows__item-price-pdv">( 490 000 грн без ПДВ )</em>
            </div>
            <p class="btn">Купити</p>
        </a>
        <a href class="block-with-product-rows__item">
            <img src="./img/product-2.jpg" alt="product-2" class="block-with-product-rows__item-img">
            <div class="block-with-product-rows__item-info">
                <p>Элемент ф-ра воздушного наружный (RE210102 /P617646 /AF26337), D8130-8530/R-Seria (Baldwin)</p>
                <strong>Артикул: <span>223322332</span></strong>
            </div>
            <div class="block-with-product-rows__item-price">
                <p class="block-with-product-rows__item-price-value"><span>500 000</span> <span>грн</span></p>
                <em class="block-with-product-rows__item-price-pdv">( 490 000 грн без ПДВ )</em>
            </div>
            <p class="btn">Купити</p>
        </a>
        <a href class="block-with-product-rows__item">
            <img src="./img/product-2.jpg" alt="product-2" class="block-with-product-rows__item-img">
            <div class="block-with-product-rows__item-info">
                <p>Элемент ф-ра воздушного наружный (RE210102 / asd sss saxxxs ddnx P617646 /AF26337), D8130-8530/R-Seria (Baldwin)</p>
                <strong>Артикул: <span>223322332</span></strong>
            </div>
            <div class="block-with-product-rows__item-price">
                <p class="block-with-product-rows__item-price-value"><span>500 000</span> <span>грн</span></p>
                <em class="block-with-product-rows__item-price-pdv">( 490 000 грн без ПДВ )</em>
            </div>
            <p class="btn">Купити</p>
        </a>
    </div>
</section>