<footer class="footer">
    <div class="footer__partners js-footer-slider">
        <div class="footer__partners-item">Caterpillar</div>
        <div class="footer__partners-item">Volvo</div>
        <div class="footer__partners-item">Komatsu</div>
        <div class="footer__partners-item">Cummins</div>
        <div class="footer__partners-item">Hyundai</div>
        <div class="footer__partners-item">MTG</div>
        <div class="footer__partners-item">KMP Brand</div>
    </div>
    <div class="footer__subscribe">
        <div class="container">
            <form class="footer__subscribe-form">
                <label class="footer__subscribe-label">Розсилка цікавих пропозицій</label>
                <input type="text" class="footer__subscribe-input" placeholder="Як звертатися">
                <input type="email" class="footer__subscribe-input" placeholder="Електронна скринька">
                <button type="submit" class="footer__subscribe-button">Підписатись</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="footer__wrapper">
            <a href="/" class="footer__logo">
                <img src="./img/svg/logo.svg" alt="Logo">
            </a>
            <nav class="footer__nav">
                <a href="#" class="footer__nav-item footer__nav-item_v-desktop active">Техника</a>
                <a href="#" class="footer__nav-item">Про нас</a>
                <a href="#" class="footer__nav-item">Контакти</a>
                <a href="#" class="footer__nav-item">Вакансії</a>
            </nav>
            <a href="mailto:info@ptc.com.ua" class="footer__mail_v-desktop">info@ptc.com.ua</a>
        </div>
        <div class="footer__wrapper">
            <div class="footer__info">
                <div class="footer__address">Вул. Васильківська, 30  Київ, 03022, Україна</div>
                <div class="footer__tax-info">
                    <p>ЄДРПОУ 36792193 ІПН</p>
                    <p>367921926503 Св.</p>
                    <p>№ 100271254</p>
                </div>
            </div>
            <div class="footer__phones">
                <a href="tel:+380674493781" class="footer__phones-item">+ 38 (067) 449 37 81</a>
                <a href="tel:+380445025784" class="footer__phones-item">+ 38 (044) 502 57 84</a>
            </div>
            <form action="" class="footer__search">
                <input type="text" placeholder="Пошук">
                <button type="submit"></button>
            </form>
        </div>
    </div>
</footer>
<script src="./js/main.min.js"></script>