<form action="" class="header__mobile-search-autocomplete">
    <div class="header__mobile-search-autocomplete-wrapper">
        <input id="mobile-autocomplete" type="text" placeholder="Поиск товаров">
        <button type="submit"></button>
    </div>
    <a href="#" class="header__mobile-search-autocomplete-close js-autocomplete-close"></a>
</form>