<header class="header">
    <div class="header__wrapper">
        <a href="/" class="header__logo header__logo_visible-desktop">
            <img src="./img/svg/logo.svg" alt="Logo">
        </a>
        <nav class="header__nav">
            <a href="/catalog.html" class="header__nav-item header__nav-item_v-desktop active">Техника</a>
            <a href="/about.html" class="header__nav-item">Про нас</a>
            <a href="/contacts.html" class="header__nav-item">Контакти</a>
            <a href="/vacations.html" class="header__nav-item">Вакансії</a>
        </nav>
        <a href="mailto:info@ptc.com.ua" class="header__mail_v-desktop">info@ptc.com.ua</a>
        <div class="header__langs">
            <a href class="header__langs-item active">Укр</a>
            <a href class="header__langs-item">Рус</a>
            <a href class="header__langs-item">Eng</a>
        </div>
    </div>
    <div class="header__wrapper">
        <div class="header__wrapper-left-side">
            <button class="header__toggler js-mobile-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="/" class="header__logo header__logo_visible-tablet">
                <img src="./img/svg/logo.svg" alt="Logo">
            </a>
            <div class="header__catalog">
                <button class="header__catalog-button">
                    <div class="header__catalog-button-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span>Каталог</span> <span>товарів</span>
                </button>
                @@if (context.menuIs === true) {
                    @@include('./menu.html')
                }
            </div>
            <button class="header__mobile-search js-mobile-search-button"></button>
            <form action="" class="header__search">
                <input id="desktop-autocomplete" type="text" placeholder="Пошук товарів">
            </form>
        </div>
        <div class="header__wrapper-right-side">
            <div class="header__phones">
                <a href="tel:+380674493781" class="header__phones-item">+ 38 (067) 449 37 81</a>
                <a href="tel:+380445025784" class="header__phones-item">+ 38 (044) 502 57 84</a>
            </div>
            <div class="header__user-links">
                <a href="#" class="header__user-links-item header__user-links-item_login js-account"></a>
                <a href="#" class="header__user-links-item header__user-links-item_cart">
                    <span class="header__user-links-item_cart-counter">2</span>
                </a>
            </div>
        </div>
        @@include('./header-mobile-search-autocomplete.html')
    </div>
    @@include('./menu-mobile.html')
</header>
