<nav class="menu-mobile">
    <div class="menu-mobile__top-wrapper">
        <ul class="menu-mobile__lang-menu js-lang-menu">
            <li class="menu-mobile__lang-menu-item active">Укр</li>
            <ul class="menu-mobile__lang-menu-wrapper">
                <li class="menu-mobile__lang-menu-item"><a href>Рус</a></li>
                <li class="menu-mobile__lang-menu-item"><a href>Eng</a></li>
            </ul>
        </ul>
    </div>
    <div class="container">
        <ul class="menu-mobile__main">
            <li class="menu-mobile__main-item"><a href="/about.html">Про нас</a></li>
            <li class="menu-mobile__main-item"><a href="/contacts.html">Контакти</a></li>
            <li class="menu-mobile__main-item"><a href="/vacations.html">Вакансії</a></li>
        </ul>
        <div class="menu-mobile__catalog">
            <button class="menu-mobile__catalog-toggler js-mobile-catalog-toggler">Каталог</button>
            <ul class="menu-mobile__catalog-content">
                <li class="menu-mobile__catalog-content-item"><a href="">Элементы крепления</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Буровой инструмент</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Гидравлика</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Двигатель</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Дорожная фреза</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Защита</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Износостоякая сталь</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Навесное оборудование</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Ножи, режущие кромки</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Подушки амортизационные</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Прочее</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Рама и кузов</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Техника</a></li>
                <li class="menu-mobile__catalog-content-item"><a href="">Трансмиссия</a></li>
            </ul>
        </div>
        <form class="menu-mobile__search">
            <input class="menu-mobile__search-input" type="text" placeholder="Що шукаємо?">
            <button class="menu-mobile__search-button" type="submit">Пошук</button>
        </form>
        <a href="#" class="menu-mobile__single-link">Техника</a>
        <div class="mobile-menu__contact-links">
            <a class="mobile-menu__contact-links-link mail" href="#">написати <br>листа</a>
            <a class="mobile-menu__contact-links-link phone" href="#">зателефонувати</a>
        </div>
    </div>
</nav>