<nav id="mysidebarmenu" class="catalog-menu">
    <ul class="catalog-menu__list">
        <li>
            <a href="#">Болты, гайки, элементы крепления</a>
            <ul>
                <li><a href="#">Двигатель</a></li>
                <li><a href="#">Дорожная фреза</a></li>
                <li><a href="#">Защита (ковша, адаптера)</a></li>
                <li><a href="#">Износостоякая сталь</a></li>
                <li><a href="#">Навесное оборудование</a></li>
                <li><a href="#">Ножи, режущие кромки</a></li>
                <li><a href="#">Подушки амортизационные</a></li>
                <li><a href="#">Прочее</a></li>
                <li><a href="#">Рама и кузов</a></li>
                <li><a href="#">Техника</a></li>
                <li><a href="#">Трансмиссия</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Буровой инструмент</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Гидравлика</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Двигатель</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Дорожная фреза</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Защита (ковша, адаптера)</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Износостоякая сталь</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Навесное оборудование</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Ножи, режущие кромки</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Подушки амортизационные</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Прочее</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Рама и кузов</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Техника</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
        <li><a href="#">Трансмиссия</a>
            <ul>
                <li><a href="#">Sub Item 1.1</a></li>
                <li><a href="#">Sub Item 1.2</a></li>
                <li><a href="#">Sub Item 1.3</a></li>
                <li><a href="#">Sub Item 1.4</a></li>
            </ul>
        </li>
    </ul>
</nav>